openapi: 3.2.0
info:
  title: AstrologyAPI JSON Vedic Astrology API
  version: 1.0.0
  description: Vedic (Jyotish), Western, Human Design and AstroCartoGraphy calculation endpoints served from the AstrologyAPI JSON host. Every operation is a POST that takes birth or location details and returns computed astrological data.
  contact:
    name: AstrologyAPI Support
    email: support@astrologyapi.com
    url: https://astrologyapi.com/contact
  termsOfService: https://astrologyapi.com/legal/terms-service
  license:
    name: Proprietary
    url: https://astrologyapi.com/legal/terms-service
servers:
- url: https://json.astrologyapi.com/v1
  description: AstrologyAPI JSON API production host
security:
- basicAuth: []
- accessToken: []
tags:
- name: Vedic Astrology
paths:
  /advanced_panchang:
    post:
      operationId: advanced_panchang
      summary: advanced panchang
      tags:
      - Vedic Astrology
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                day:
                  type: string
                month:
                  type: string
                year:
                  type: string
                hour:
                  type: string
                min:
                  type: string
                lat:
                  type: string
                lon:
                  type: string
                tzone:
                  type: string
              required:
              - day
              - month
              - year
              - hour
              - min
              - lat
              - lon
              - tzone
            example:
              day: '10'
              month: '5'
              year: '1990'
              hour: '19'
              min: '55'
              lat: '19.20'
              lon: '25.2'
              tzone: '5.5'
      responses:
        '200':
          description: Computed result. The provider does not publish a response schema for this operation; see the endpoint reference for the returned fields.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication failed — missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: false
                msg: API authentication failed!
        '404':
          description: The requested API endpoint is not available.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                status: false
                statusCode: 404
                error_msg: The requested API endpoint is not available. Kindly check your api name/url or HTTP method type.
      externalDocs:
        description: Vedic Astrology documentation
        url: https://astrologyapi.com/developers/v1/vedic
      x-postman-collection: Premium Plan (User Collection)
  /advanced_panchang/sunrise:
    post:
      operationId: advanced_panchang_sunrise
      summary: advanced_panchang/sunrise
      tags:
      - Vedic Astrology
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                day:
                  type: string
                month:
                  type: string
                year:
                  type: string
                hour:
                  type: string
                min:
                  type: string
                lat:
                  type: string
                lon:
                  type: string
                tzone:
                  type: string
              required:
              - day
              - month
              - year
              - hour
              - min
              - lat
              - lon
              - tzone
            example:
              day: '10'
              month: '5'
              year: '1990'
              hour: '19'
              min: '55'
              lat: '19.20'
              lon: '25.2'
              tzone: '5.5'
      responses:
        '200':
          description: Computed result. The provider does not publish a response schema for this operation; see the endpoint reference for the returned fields.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication failed — missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: false
                msg: API authentication failed!
        '404':
          description: The requested API endpoint is not available.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                status: false
                statusCode: 404
                error_msg: The requested API endpoint is not available. Kindly check your api name/url or HTTP method type.
      externalDocs:
        description: Vedic Astrology documentation
        url: https://astrologyapi.com/developers/v1/vedic
      x-postman-collection: Premium Plan (User Collection)
  /astro_details:
    post:
      operationId: astro_details
      summary: astro_details
      tags:
      - Vedic Astrology
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                day:
                  type: string
                month:
                  type: string
                year:
                  type: string
                hour:
                  type: string
                min:
                  type: string
                lat:
                  type: string
                lon:
                  type: string
                tzone:
                  type: string
                ayanamsha:
                  type: string
                  description: 'other values : KP_OLD, KP_NEW,YUKTESHWAR,,RAMAN,JN_BHASIN,FAGAN_BRADLEY'
              required:
              - day
              - month
              - year
              - hour
              - min
              - lat
              - lon
              - tzone
              - ayanamsha
            example:
              day: '10'
              month: '5'
              year: '1990'
              hour: '19'
              min: '55'
              lat: '19.20'
              lon: '25.2'
              tzone: '5.5'
              ayanamsha: LAHIRI
      responses:
        '200':
          description: Computed result. The provider does not publish a response schema for this operation; see the endpoint reference for the returned fields.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication failed — missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: false
                msg: API authentication failed!
        '404':
          description: The requested API endpoint is not available.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                status: false
                statusCode: 404
                error_msg: The requested API endpoint is not available. Kindly check your api name/url or HTTP method type.
      externalDocs:
        description: Vedic Astrology documentation
        url: https://astrologyapi.com/developers/v1/vedic
      x-postman-collection: Premium Plan (User Collection)
  /ayanamsha:
    post:
      operationId: ayanamsha
      summary: ayanamsha
      tags:
      - Vedic Astrology
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                day:
                  type: string
                month:
                  type: string
                year:
                  type: string
                hour:
                  type: string
                min:
                  type: string
                lat:
                  type: string
                lon:
                  type: string
                tzone:
                  type: string
              required:
              - day
              - month
              - year
              - hour
              - min
              - lat
              - lon
              - tzone
            example:
              day: '10'
              month: '5'
              year: '1990'
              hour: '19'
              min: '55'
              lat: '19.20'
              lon: '25.2'
              tzone: '5.5'
      responses:
        '200':
          description: Computed result. The provider does not publish a response schema for this operation; see the endpoint reference for the returned fields.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication failed — missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: false
                msg: API authentication failed!
        '404':
          description: The requested API endpoint is not available.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                status: false
                statusCode: 404
                error_msg: The requested API endpoint is not available. Kindly check your api name/url or HTTP method type.
      externalDocs:
        description: Vedic Astrology documentation
        url: https://astrologyapi.com/developers/v1/vedic
      x-postman-collection: Premium Plan (User Collection)
  /basic_gem_suggestion:
    post:
      operationId: basic_gem_suggestion
      summary: gemstone suggestion
      tags:
      - Vedic Astrology
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                day:
                  type: string
                month:
                  type: string
                year:
                  type: string
                hour:
                  type: string
                min:
                  type: string
                lat:
                  type: string
                lon:
                  type: string
                tzone:
                  type: string
                ayanamsha:
                  type: string
                  description: 'other values : KP_OLD, KP_NEW,YUKTESHWAR,,RAMAN,JN_BHASIN,FAGAN_BRADLEY'
              required:
              - day
              - month
              - year
              - hour
              - min
              - lat
              - lon
              - tzone
              - ayanamsha
            example:
              day: '10'
              month: '5'
              year: '1990'
              hour: '19'
              min: '55'
              lat: '19.20'
              lon: '25.2'
              tzone: '5.5'
              ayanamsha: LAHIRI
      responses:
        '200':
          description: Computed result. The provider does not publish a response schema for this operation; see the endpoint reference for the returned fields.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication failed — missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: false
                msg: API authentication failed!
        '404':
          description: The requested API endpoint is not available.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                status: false
                statusCode: 404
                error_msg: The requested API endpoint is not available. Kindly check your api name/url or HTTP method type.
      externalDocs:
        description: Vedic Astrology documentation
        url: https://astrologyapi.com/developers/v1/vedic
      x-postman-collection: Premium Plan (User Collection)
  /basic_panchang:
    post:
      operationId: basic_panchang
      summary: basic panchang
      tags:
      - Vedic Astrology
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                day:
                  type: string
                month:
                  type: string
                year:
                  type: string
                hour:
                  type: string
                min:
                  type: string
                lat:
                  type: string
                lon:
                  type: string
                tzone:
                  type: string
              required:
              - day
              - month
              - year
              - hour
              - min
              - lat
              - lon
              - tzone
            example:
              day: '10'
              month: '5'
              year: '1990'
              hour: '19'
              min: '55'
              lat: '19.20'
              lon: '25.2'
              tzone: '5.5'
      responses:
        '200':
          description: Computed result. The provider does not publish a response schema for this operation; see the endpoint reference for the returned fields.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication failed — missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: false
                msg: API authentication failed!
        '404':
          description: The requested API endpoint is not available.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                status: false
                statusCode: 404
                error_msg: The requested API endpoint is not available. Kindly check your api name/url or HTTP method type.
      externalDocs:
        description: Vedic Astrology documentation
        url: https://astrologyapi.com/developers/v1/vedic
      x-postman-collection: Premium Plan (User Collection)
  /basic_panchang/sunrise:
    post:
      operationId: basic_panchang_sunrise
      summary: basic_panchang/sunrise
      tags:
      - Vedic Astrology
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                day:
                  type: string
                month:
                  type: string
                year:
                  type: string
                hour:
                  type: string
                min:
                  type: string
                lat:
                  type: string
                lon:
                  type: string
                tzone:
                  type: string
              required:
              - day
              - month
              - year
              - hour
              - min
              - lat
              - lon
              - tzone
            example:
              day: '10'
              month: '5'
              year: '1990'
              hour: '19'
              min: '55'
              lat: '19.20'
              lon: '25.2'
              tzone: '5.5'
      responses:
        '200':
          description: Computed result. The provider does not publish a response schema for this operation; see the endpoint reference for the returned fields.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication failed — missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: false
                msg: API authentication failed!
        '404':
          description: The requested API endpoint is not available.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                status: false
                statusCode: 404
                error_msg: The requested API endpoint is not available. Kindly check your api name/url or HTTP method type.
      externalDocs:
        description: Vedic Astrology documentation
        url: https://astrologyapi.com/developers/v1/vedic
      x-postman-collection: Premium Plan (User Collection)
  /bhav_madhya:
    post:
      operationId: bhav_madhya
      summary: bhav_madhya
      tags:
      - Vedic Astrology
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                day:
                  type: string
                month:
                  type: string
                year:
                  type: string
                hour:
                  type: string
                min:
                  type: string
                lat:
                  type: string
                lon:
                  type: string
                tzone:
                  type: string
                ayanamsha:
                  type: string
                  description: 'other values : KP_OLD, KP_NEW,YUKTESHWAR,,RAMAN,JN_BHASIN,FAGAN_BRADLEY'
              required:
              - day
              - month
              - year
              - hour
              - min
              - lat
              - lon
              - tzone
              - ayanamsha
            example:
              day: '10'
              month: '5'
              year: '1990'
              hour: '19'
              min: '55'
              lat: '19.20'
              lon: '25.2'
              tzone: '5.5'
              ayanamsha: LAHIRI
      responses:
        '200':
          description: Computed result. The provider does not publish a response schema for this operation; see the endpoint reference for the returned fields.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication failed — missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: false
                msg: API authentication failed!
        '404':
          description: The requested API endpoint is not available.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                status: false
                statusCode: 404
                error_msg: The requested API endpoint is not available. Kindly check your api name/url or HTTP method type.
      externalDocs:
        description: Vedic Astrology documentation
        url: https://astrologyapi.com/developers/v1/vedic
      x-postman-collection: Premium Plan (User Collection)
  /bhavabala:
    post:
      operationId: bhavabala
      summary: bhavabala
      tags:
      - Vedic Astrology
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                day:
                  type: string
                month:
                  type: string
                year:
                  type: string
                hour:
                  type: string
                min:
                  type: string
                lat:
                  type: string
                lon:
                  type: string
                tzone:
                  type: string
              required:
              - day
              - month
              - year
              - hour
              - min
              - lat
              - lon
              - tzone
            example:
              day: '10'
              month: '11'
              year: '2026'
              hour: '11'
              min: '16'
              lat: '19.07'
              lon: '72.877'
              tzone: '5.5'
      responses:
        '200':
          description: Computed result. The provider does not publish a response schema for this operation; see the endpoint reference for the returned fields.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication failed — missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: false
                msg: API authentication failed!
        '404':
          description: The requested API endpoint is not available.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                status: false
                statusCode: 404
                error_msg: The requested API endpoint is not available. Kindly check your api name/url or HTTP method type.
      externalDocs:
        description: Vedic Astrology documentation
        url: https://astrologyapi.com/developers/v1/vedic
      x-postman-collection: Premium Plan (User Collection)
  /biorhythm:
    post:
      operationId: biorhythm
      summary: biorhythm
      tags:
      - Vedic Astrology
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                day:
                  type: string
                month:
                  type: string
                year:
                  type: string
                hour:
                  type: string
                min:
                  type: string
                lat:
                  type: string
                lon:
                  type: string
                tzone:
                  type: string
                ayanamsha:
                  type: string
                  description: 'other values : KP_OLD, KP_NEW,YUKTESHWAR,,RAMAN,JN_BHASIN,FAGAN_BRADLEY'
              required:
              - day
              - month
              - year
              - hour
              - min
              - lat
              - lon
              - tzone
              - ayanamsha
            example:
              day: '10'
              month: '5'
              year: '1990'
              hour: '19'
              min: '55'
              lat: '19.20'
              lon: '25.2'
              tzone: '5.5'
              ayanamsha: LAHIRI
      responses:
        '200':
          description: Computed result. The provider does not publish a response schema for this operation; see the endpoint reference for the returned fields.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication failed — missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: false
                msg: API authentication failed!
        '404':
          description: The requested API endpoint is not available.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                status: false
                statusCode: 404
                error_msg: The requested API endpoint is not available. Kindly check your api name/url or HTTP method type.
      externalDocs:
        description: Vedic Astrology documentation
        url: https://astrologyapi.com/developers/v1/vedic
      x-postman-collection: Premium Plan (User Collection)
  /birth_details:
    post:
      operationId: birth_details
      summary: birth_details
      tags:
      - Vedic Astrology
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                day:
                  type: string
                month:
                  type: string
                year:
                  type: string
                hour:
                  type: string
                min:
                  type: string
                lat:
                  type: string
                lon:
                  type: string
                tzone:
                  type: string
                ayanamsha:
                  type: string
                  description: 'other values : KP_OLD, KP_NEW,YUKTESHWAR,,RAMAN,JN_BHASIN,FAGAN_BRADLEY'
              required:
              - day
              - month
              - year
              - hour
              - min
              - lat
              - lon
              - tzone
              - ayanamsha
            example:
              day: '10'
              month: '5'
              year: '1990'
              hour: '19'
              min: '55'
              lat: '19.20'
              lon: '25.2'
              tzone: '5.5'
              ayanamsha: LAHIRI
      responses:
        '200':
          description: Computed result. The provider does not publish a response schema for this operation; see the endpoint reference for the returned fields.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication failed — missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: false
                msg: API authentication failed!
        '404':
          description: The requested API endpoint is not available.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                status: false
                statusCode: 404
                error_msg: The requested API endpoint is not available. Kindly check your api name/url or HTTP method type.
      externalDocs:
        description: Vedic Astrology documentation
        url: https://astrologyapi.com/developers/v1/vedic
      x-postman-collection: Premium Plan (User Collection)
  /chaughadiya_muhurta:
    post:
      operationId: chaughadiya_muhurta
      summary: chaughadiya_muhurta
      tags:
      - Vedic Astrology
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                day:
                  type: string
                month:
                  type: string
                year:
                  type: string
                hour:
                  type: string
                min:
                  type: string
                lat:
                  type: string
                lon:
                  type: string
                tzone:
                  type: string
              required:
              - day
              - month
              - year
              - hour
              - min
              - lat
              - lon
              - tzone
            example:
              day: '10'
              month: '5'
              year: '1990'
              hour: '19'
              min: '55'
              lat: '19.20'
              lon: '25.2'
              tzone: '5.5'
      responses:
        '200':
          description: Computed result. The provider does not publish a response schema for this operation; see the endpoint reference for the returned fields.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication failed — missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: false
                msg: API authentication failed!
        '404':
          description: The requested API endpoint is not available.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                status: false
                statusCode: 404
                error_msg: The requested API endpoint is not available. Kindly check your api name/url or HTTP method type.
      externalDocs:
        description: Vedic Astrology documentation
        url: https://astrologyapi.com/developers/v1/vedic
      x-postman-collection: Premium Plan (User Collection)
  /current_chardasha:
    post:
      operationId: current_chardasha
      summary: current_chardasha
      tags:
      - Vedic Astrology
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                day:
                  type: string
                month:
                  type: string
                year:
                  type: string
                hour:
                  type: string
                min:
                  type: string
                lat:
                  type: string
                lon:
                  type: string
                tzone:
                  type: string
                ayanamsha:
                  type: string
                  description: 'other values : KP_OLD, KP_NEW,YUKTESHWAR,,RAMAN,JN_BHASIN,FAGAN_BRADLEY'
              required:
              - day
              - month
              - year
              - hour
              - min
              - lat
              - lon
              - tzone
              - ayanamsha
            example:
              day: '10'
              month: '5'
              year: '1990'
              hour: '19'
              min: '55'
              lat: '19.20'
              lon: '25.2'
              tzone: '5.5'
              ayanamsha: LAHIRI
      responses:
        '200':
          description: Computed result. The provider does not publish a response schema for this operation; see the endpoint reference for the returned fields.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication failed — missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: false
                msg: API authentication failed!
        '404':
          description: The requested API endpoint is not available.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                status: false
                statusCode: 404
                error_msg: The requested API endpoint is not available. Kindly check your api name/url or HTTP method type.
      externalDocs:
        description: Vedic Astrology documentation
        url: https://astrologyapi.com/developers/v1/vedic
      x-postman-collection: Premium Plan (User Collection)
  /current_vdasha:
    post:
      operationId: current_vdasha
      summary: current vdasha
      tags:
      - Vedic Astrology
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                day:
                  type: string
                month:
                  type: string
                year:
                  type: string
                hour:
                  type: string
                min:
                  type: string
                lat:
                  type: string
                lon:
                  type: string
                tzone:
                  type: string
                ayanamsha:
                  type: string
                  description: 'other values : KP_OLD, KP_NEW,YUKTESHWAR,,RAMAN,JN_BHASIN,FAGAN_BRADLEY'
              required:
              - day
              - month
              - year
              - hour
              - min
              - lat
              - lon
              - tzone
              - ayanamsha
            example:
              day: '10'
              month: '5'
              year: '1990'
              hour: '19'
              min: '55'
              lat: '19.20'
              lon: '25.2'
              tzone: '5.5'
              ayanamsha: LAHIRI
      responses:
        '200':
          description: Computed result. The provider does not publish a response schema for this operation; see the endpoint reference for the returned fields.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication failed — missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: false
                msg: API authentication failed!
        '404':
          description: The requested API endpoint is not available.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                status: false
                statusCode: 404
                error_msg: The requested API endpoint is not available. Kindly check your api name/url or HTTP method type.
      externalDocs:
        description: Vedic Astrology documentation
        url: https://astrologyapi.com/developers/v1/vedic
      x-postman-collection: Premium Plan (User Collection)
  /current_vdasha_all:
    post:
      operationId: current_vdasha_all
      summary: current_vdasha_all
      tags:
      - Vedic Astrology
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                day:
                  type: string
                month:
                  type: string
                year:
                  type: string
                hour:
                  type: string
                min:
                  type: string
                lat:
                  type: string
                lon:
                  type: string
                tzone:
                  type: string
                ayanamsha:
                  type: string
                  description: 'other values : KP_OLD, KP_NEW,YUKTESHWAR,,RAMAN,JN_BHASIN,FAGAN_BRADLEY'
              required:
              - day
              - month
              - year
              - hour
              - min
              - lat
              - lon
              - tzone
              - ayanamsha
            example:
              day: '10'
              month: '5'
              year: '1990'
              hour: '19'
              min: '55'
              lat: '19.20'
              lon: '25.2'
              tzone: '5.5'
              ayanamsha: LAHIRI
      responses:
        '200':
          description: Computed result. The provider does not publish a response schema for this operation; see the endpoint reference for the returned fields.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication failed — missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: false
                msg: API authentication failed!
        '404':
          description: The requested API endpoint is not available.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                status: false
                statusCode: 404
                error_msg: The requested API endpoint is not available. Kindly check your api name/url or HTTP method type.
      externalDocs:
        description: Vedic Astrology documentation
        url: https://astrologyapi.com/developers/v1/vedic
      x-postman-collection: Premium Plan (User Collection)
  /current_yogini_dasha:
    post:
      operationId: current_yogini_dasha
      summary: current_yogini_dasha
      tags:
      - Vedic Astrology
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                day:
                  type: string
                month:
                  type: string
                year:
                  type: string
                hour:
                  type: string
                min:
                  type: string
                lat:
                  type: string
                lon:
                  type: string
                tzone:
                  type: string
                ayanamsha:
                  type: string
                  description: 'other values : KP_OLD, KP_NEW,YUKTESHWAR,,RAMAN,JN_BHASIN,FAGAN_BRADLEY'
              required:
              - day
              - month
              - year
              - hour
              - min
              - lat
              - lon
              - tzone
              - ayanamsha
            example:
              day: '10'
              month: '5'
              year: '1990'
              hour: '19'
              min: '55'
              lat: '19.20'
              lon: '25.2'
              tzone: '5.5'
              ayanamsha: LAHIRI
      responses:
        '200':
          description: Computed result. The provider does not publish a response schema for this operation; see the endpoint reference for the returned fields.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication failed — missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: false
                msg: API authentication failed!
        '404':
          description: The requested API endpoint is not available.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                status: false
                statusCode: 404
                error_msg: The requested API endpoint is not available. Kindly check your api name/url or HTTP method type.
      externalDocs:
        description: Vedic Astrology documentation
        url: https://astrologyapi.com/developers/v1/vedic
      x-postman-collection: Premium Plan (User Collection)
  /daily_nakshatra_prediction:
    post:
      operationId: daily_nakshatra_prediction
      summary: daily_nakshatra_prediction
      tags:
      - Vedic Astrology
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                day:
                  type: string
                month:
                  type: string
                year:
                  type: string
                hour:
                  type: string
                min:
                  type: string
                lat:
                  type: string
                lon:
                  type: string
                tzone:
                  type: string
              required:
              - day
              - month
              - year
              - hour
              - min
              - lat
              - lon
              - tzone
            example:
              day: '10'
              month: '5'
              year: '1990'
              hour: '19'
              min: '55'
              lat: '19.20'
              lon: '25.2'
              tzone: '5.5'
      responses:
        '200':
          description: Computed result. The provider does not publish a response schema for this operation; see the endpoint reference for the returned fields.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication failed — missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: false
                msg: API authentication failed!
        '404':
          description: The requested API endpoint is not available.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                status: false
                statusCode: 404
                error_msg: The requested API endpoint is not available. Kindly check your api name/url or HTTP method type.
      externalDocs:
        description: Vedic Astrology documentation
        url: https://astrologyapi.com/developers/v1/vedic
      x-postman-collection: Premium Plan (User Collection)
  /daily_nakshatra_prediction/next:
    post:
      operationId: daily_nakshatra_prediction_next
      summary: daily_nakshatra_prediction next day
      tags:
      - Vedic Astrology
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                day:
                  type: string
                month:
                  type: string
                year:
                  type: string
                hour:
                  type: string
                min:
                  type: string
                lat:
                  type: string
                lon:
                  type: string
                tzone:
                  type: string
              required:
              - day
              - month
              - year
              - hour
              - min
              - lat
              - lon
              - tzone
            example:
              day: '10'
              month: '5'
              year: '1990'
              hour: '19'
              min: '55'
              lat: '19.20'
              lon: '25.2'
              tzone: '5.5'
      responses:
        '200':
          description: Computed result. The provider does not publish a response schema for this operation; see the endpoint reference for the returned fields.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication failed — missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: false
                msg: API authentication failed!
        '404':
          description: The requested API endpoint is not available.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                status: false
                statusCode: 404
                error_msg: The requested API endpoint is not available. Kindly check your api name/url or HTTP method type.
      externalDocs:
        description: Vedic Astrology documentation
        url: https://astrologyapi.com/developers/v1/vedic
      x-postman-collection: Premium Plan (User Collection)
  /daily_nakshatra_prediction/previous:
    post:
      operationId: daily_nakshatra_prediction_previous
      summary: daily_nakshatra_prediction previous day
      tags:
      - Vedic Astrology
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                day:
                  type: string
                month:
                  type: string
                year:
                  type: string
                hour:
                  type: string
                min:
                  type: string
                lat:
                  type: string
                lon:
                  type: string
                tzone:
                  type: string
              required:
              - day
              - month
              - year
              - hour
              - min
              - lat
              - lon
              - tzone
            example:
              day: '10'
              month: '5'
              year: '1990'
              hour: '19'
              min: '55'
              lat: '19.20'
              lon: '25.2'
              tzone: '5.5'
      responses:
        '200':
          description: Computed result. The provider does not publish a response schema for this operation; see the endpoint reference for the returned fields.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication failed — missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: false
                msg: API authentication failed!
        '404':
          description: The requested API endpoint is not available.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                status: false
                statusCode: 404
                error_msg: The requested API endpoint is not available. Kindly check your api name/url or HTTP method type.
      externalDocs:
        description: Vedic Astrology documentation
        url: https://astrologyapi.com/developers/v1/vedic
      x-postman-collection: Premium Plan (User Collection)
  /general_ascendant_report:
    post:
      operationId: general_ascendant_report
      summary: general ascendant report
      tags:
      - Vedic Astrology
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                day:
                  type: string
                month:
                  type: string
                year:
                  type: string
                hour:
                  type: string
                min:
                  type: string
                lat:
                  type: string
                lon:
                  type: string
                tzone:
                  type: string
                ayanamsha:
                  type: string
                  description: 'other values : KP_OLD, KP_NEW,YUKTESHWAR,,RAMAN,JN_BHASIN,FAGAN_BRADLEY'
              required:
              - day
              - month
              - year
              - hour
              - min
              - lat
              - lon
              - tzone
              - ayanamsha
            example:
              day: '10'
              month: '5'
              year: '1990'
              hour: '19'
              min: '55'
              lat: '19.20'
              lon: '25.2'
              tzone: '5.5'
              ayanamsha: LAHIRI
      responses:
        '200':
          description: Computed result. The provider does not publish a response schema for this operation; see the endpoint reference for the returned fields.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication failed — missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: false
                msg: API authentication failed!
        '404':
          description: The requested API endpoint is not available.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                status: false
                statusCode: 404
                error_msg: The requested API endpoint is not available. Kindly check your api name/url or HTTP method type.
      externalDocs:
        description: Vedic Astrology documentation
        url: https://astrologyapi.com/developers/v1/vedic
      x-postman-collection: Premium Plan (User Collection)
  /general_house_report/{planet_name}:
    post:
      operationId: general_house_report_planet_name
      summary: general_house_report/:planet_name
      tags:
      - Vedic Astrology
      parameters:
      - name: planet_name
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                day:
                  type: string
                month:
                  type: string
                year:
                  type: string
                hour:
                  type: string
                min:
                  type: string
                lat:
                  type: string
                lon:
                  type: string
                tzone:
                  type: string
                ayanamsha:
                  type: string
                  description: 'other values : KP_OLD, KP_NEW,YUKTESHWAR,,RAMAN,JN_BHASIN,FAGAN_BRADLEY'
              required:
              - day
              - month
              - year
              - hour
              - min
              - lat
              - lon
              - tzone
              - ayanamsha
            example:
              day: '10'
              month: '5'
              year: '1990'
              hour: '19'
              min: '55'
              lat: '19.20'
              lon: '25.2'
              tzone: '5.5'
              ayanamsha: LAHIRI
      responses:
        '200':
          description: Computed result. The provider does not publish a response schema for this operation; see the endpoint reference for the returned fields.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication failed — missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: false
                msg: API authentication failed!
        '404':
          description: The requested API endpoint is not available.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                status: false
                statusCode: 404
                error_msg: The requested API endpoint is not available. Kindly check your api name/url or HTTP method type.
      externalDocs:
        description: Vedic Astrology documentation
        url: https://astrologyapi.com/developers/v1/vedic
      x-postman-collection: Premium Plan (User Collection)
  /general_nakshatra_report:
    post:
      operationId: general_nakshatra_report
      summary: general_nakshatra_report
      tags:
      - Vedic Astrology
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                day:
                  type: string
                month:
                  type: string
                year:
                  type: string
                hour:
                  type: string
                min:
                  type: string
                lat:
                  type: string
                lon:
                  type: string
                tzone:
                  type: string
                gender:
                  type: string
                ayanamsha:
                  type: string
                  description: 'other values : KP_OLD, KP_NEW,YUKTESHWAR,,RAMAN,JN_BHASIN,FAGAN_BRADLEY'
              required:
              - day
              - month
              - year
              - hour
              - min
              - lat
              - lon
              - tzone
              - gender
              - ayanamsha
            example:
              day: '10'
              month: '5'
              year: '1990'
              hour: '19'
              min: '55'
              lat: '19.20'
              lon: '25.2'
              tzone: '5.5'
              gender: female
              ayanamsha: LAHIRI
      responses:
        '200':
          description: Computed result. The provider does not publish a response schema for this operation; see the endpoint reference for the returned fields.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication failed — missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: false
                msg: API authentication failed!
        '404':
          description: The requested API endpoint is not available.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                status: false
                statusCode: 404
                error_msg: The requested API endpoint is not available. Kindly check your api name/url or HTTP method type.
      externalDocs:
        description: Vedic Astrology documentation
        url: https://astrologyapi.com/developers/v1/vedic
      x-postman-collection: Premium Plan (User Collection)
  /general_rashi_report/{planet_name}:
    post:
      operationId: general_rashi_report_planet_name
      summary: general_rashi_report/:planet_name
      tags:
      - Vedic Astrology
      parameters:
      - name: planet_name
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                day:
                  type: string
                month:
                  type: string
                year:
                  type: string
                hour:
                  type: string
                min:
                  type: string
                lat:
                  type: string
                lon:
                  type: string
                tzone:
                  type: string
                ayanamsha:
                  type: string
                  description: 'other values : KP_OLD, KP_NEW,YUKTESHWAR,,RAMAN,JN_BHASIN,FAGAN_BRADLEY'
              required:
              - day
              - month
              - year
              - hour
              - min
              - lat
              - lon
              - tzone
              - ayanamsha
            example:
              day: '10'
              month: '5'
              year: '1990'
              hour: '19'
              min: '55'
              lat: '19.20'
              lon: '25.2'
              tzone: '5.5'
              ayanamsha: LAHIRI
      responses:
        '200':
          description: Computed result. The provider does not publish a response schema for this operation; see the endpoint reference for the returned fields.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication failed — missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: false
                msg: API authentication failed!
        '404':
          description: The requested API endpoint is not available.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                status: false
                statusCode: 404
                error_msg: The requested API endpoint is not available. Kindly check your api name/url or HTTP method type.
      externalDocs:
        description: Vedic Astrology documentation
        url: https://astrologyapi.com/developers/v1/vedic
      x-postman-collection: Premium Plan (User Collection)
  /geo_details:
    post:
      operationId: geo_details
      summary: geo details
      tags:
      - Vedic Astrology
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                place:
                  type: string
                maxRows:
                  type: string
              required:
              - place
              - maxRows
            example:
              place: mumbai
              maxRows: '6'
      responses:
        '200':
          description: Computed result. The provider does not publish a response schema for this operation; see the endpoint reference for the returned fields.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication failed — missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: false
                msg: API authentication failed!
        '404':
          description: The requested API endpoint is not available.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                status: false
                statusCode: 404
                error_msg: The requested API endpoint is not available. Kindly check your api name/url or HTTP method type.
      externalDocs:
        description: Vedic Astrology documentation
        url: https://astrologyapi.com/developers/v1/vedic
      x-postman-collection: Premium Plan (User Collection)
  /ghat_chakra:
    post:
      operationId: ghat_chakra
      summary: ghat_chakra
      tags:
      - Vedic Astrology
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                day:
                  type: string
                month:
                  type: string
                year:
                  type: string
                hour:
                  type: string
                min:
                  type: string
                lat:
                  type: string
                lon:
                  type: string
                tzone:
                  type: string
                ayanamsha:
                  type: string
                  description: 'other values : KP_OLD, KP_NEW,YUKTESHWAR,,RAMAN,JN_BHASIN,FAGAN_BRADLEY'
              required:
              - day
              - month
              - year
              - hour
              - min
              - lat
              - lon
              - tzone
              - ayanamsha
            example:
              day: '10'
              month: '5'
              year: '1990'
              hour: '19'
              min: '55'
              lat: '19.20'
              lon: '25.2'
              tzone: '5.5'
              ayanamsha: LAHIRI
      responses:
        '200':
          description: Computed result. The provider does not publish a response schema for this operation; see the endpoint reference for the returned fields.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication failed — missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: false
                msg: API authentication failed!
        '404':
          description: The requested API endpoint is not available.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                status: false
                statusCode: 404
                error_msg: The requested API endpoint is not available. Kindly check your api name/url or HTTP method type.
      externalDocs:
        description: Vedic Astrology documentation
        url: https://astrologyapi.com/developers/v1/vedic
      x-postman-collection: Premium Plan (User Collection)
  /hora_muhurta:
    post:
      operationId: hora_muhurta
      summary: hora_muhurta
      tags:
      - Vedic Astrology
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                day:
                  type: string
                month:
                  type: string
                year:
                  type: string
                hour:
                  type: string
                min:
                  type: string
                lat:
                  type: string
                lon:
                  type: string
                tzone:
                  type: string
              required:
              - day
              - month
              - year
              - hour
              - min
              - lat
              - lon
              - tzone
            example:
              day: '10'
              month: '5'
              year: '1990'
              hour: '19'
              min: '55'
              lat: '19.20'
              lon: '25.2'
              tzone: '5.5'
      responses:
        '200':
          description: Computed result. The provider does not publish a response schema for this operation; see the endpoint reference for the returned fields.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication failed — missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: false
                msg: API authentication failed!
        '404':
          description: The requested API endpoint is not available.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                status: false
                statusCode: 404
                error_msg: The requested API endpoint is not available. Kindly check your api name/url or HTTP method type.
      externalDocs:
        description: Vedic Astrology documentation
        url: https://astrologyapi.com/developers/v1/vedic
      x-postman-collection: Premium Plan (User Collection)
  /hora_muhurta_dinman:
    post:
      operationId: hora_muhurta_dinman
      summary: hora_muhurta_dinman
      tags:
      - Vedic Astrology
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                day:
                  type: string
                month:
                  type: string
                year:
                  type: string
                hour:
                  type: string
                min:
                  type: string
                lat:
                  type: string
                lon:
                  type: string
                tzone:
                  type: string
              required:
              - day
              - month
              - year
              - hour
              - min
              - lat
              - lon
              - tzone
            example:
              day: '10'
              month: '5'
              year: '1990'
              hour: '19'
              min: '55'
              lat: '19.20'
              lon: '25.2'
              tzone: '5.5'
      responses:
        '200':
          description: Computed result. The provider does not publish a response schema for this operation; see the endpoint reference for the returned fields.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication failed — missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: false
                msg: API authentication failed!
        '404':
          description: The requested API endpoint is not available.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                status: false
                statusCode: 404
                error_msg: The requested API endpoint is not available. Kindly check your api name/url or HTTP method type.
      externalDocs:
        description: Vedic Astrology documentation
        url: https://astrologyapi.com/developers/v1/vedic
      x-postman-collection: Premium Plan (User Collection)
  /horo_chart/{chartId}:
    post:
      operationId: horo_chart_chartId
      summary: horo_chart
      tags:
      - Vedic Astrology
      parameters:
      - name: chartId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                day:
                  type: string
                month:
                  type: string
                year:
                  type: string
                hour:
                  type: string
                min:
                  type: string
                lat:
                  type: string
                lon:
                  type: string
                tzone:
                  type: string
                ayanamsha:
                  type: string
                  description: 'other values : KP_OLD, KP_NEW,YUKTESHWAR,,RAMAN,JN_BHASIN,FAGAN_BRADLEY'
              required:
              - day
              - month
              - year
              - hour
              - min
              - lat
              - lon
              - tzone
              - ayanamsha
            example:
              day: '10'
              month: '5'
              year: '1990'
              hour: '19'
              min: '55'
              lat: '19.20'
              lon: '25.2'
              tzone: '5.5'
              ayanamsha: LAHIRI
      responses:
        '200':
          description: Computed result. The provider does not publish a response schema for this operation; see the endpoint reference for the returned fields.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication failed — missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: false
                msg: API authentication failed!
        '404':
          description: The requested API endpoint is not available.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                status: false
                statusCode: 404
                error_msg: The requested API endpoint is not available. Kindly check your api name/url or HTTP method type.
      externalDocs:
        description: Vedic Astrology documentation
        url: https://astrologyapi.com/developers/v1/vedic
      x-postman-collection: Premium Plan (User Collection)
  /horo_chart_extended:
    post:
      operationId: horo_chart_extended
      summary: horo_chart_extended
      tags:
      - Vedic Astrology
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                day:
                  type: string
                month:
                  type: string
                year:
                  type: string
                hour:
                  type: string
                min:
                  type: string
                lat:
                  type: string
                lon:
                  type: string
                tzone:
                  type: string
                ayanamsha:
                  type: string
                  description: 'other values : KP_OLD, KP_NEW,YUKTESHWAR,,RAMAN,JN_BHASIN,FAGAN_BRADLEY'
              required:
              - day
              - month
              - year
              - hour
              - min
              - lat
              - lon
              - tzone
              - ayanamsha
            example:
              day: '10'
              month: '5'
              year: '1990'
              hour: '19'
              min: '55'
              lat: '19.20'
              lon: '25.2'
              tzone: '5.5'
              ayanamsha: LAHIRI
      responses:
        '200':
          description: Computed result. The provider does not publish a response schema for this operation; see the endpoint reference for the returned fields.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication failed — missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: false
                msg: API authentication failed!
        '404':
          description: The requested API endpoint is not available.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                status: false
                statusCode: 404
                error_msg: The requested API endpoint is not available. Kindly check your api name/url or HTTP method type.
      externalDocs:
        description: Vedic Astrology documentation
        url: https://astrologyapi.com/developers/v1/vedic
      x-postman-collection: Premium Plan (User Collection)
  /horo_chart_image/{chartId}:
    post:
      operationId: horo_chart_image_chartId
      summary: horo_chart_image
      tags:
      - Vedic Astrology
      parameters:
      - name: chartId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                day:
                  type: string
                month:
                  type: string
                year:
                  type: string
                hour:
                  type: string
                min:
                  type: string
                lat:
                  type: string
                lon:
                  type: string
                tzone:
                  type: string
                chartType:
                  type: string
                  description: You can mention south, east
                image_type:
                  type: string
                  description: To call in format other than svg
                planetColor:
                  type: string
                  description: Change the color of the planet. To set multiple colors, set a sequecne, for example - red,blue,black,green,orange,pink,maroon,purple,yellow
                extended:
                  type: string
                  description: To add outer planets - Neptune, Uranus and Pluto
                signColor:
                  type: string
                  description: To change the sign color
                lineColor:
                  type: string
                  description: To change the chart line color
                ayanamsha:
                  type: string
                  description: 'other values : KP_OLD, KP_NEW,YUKTESHWAR,,RAMAN,JN_BHASIN,FAGAN_BRADLEY'
              required:
              - day
              - month
              - year
              - hour
              - min
              - lat
              - lon
              - tzone
              - chartType
              - image_type
              - planetColor
              - extended
              - signColor
              - lineColor
              - ayanamsha
            example:
              day: '10'
              month: '5'
              year: '1990'
              hour: '19'
              min: '55'
              lat: '19.20'
              lon: '25.2'
              tzone: '5.5'
              chartType: north
              image_type: png
              planetColor: ff0000
              extended: 'true'
              signColor: ff0000
              lineColor: ff0000
              ayanamsha: LAHIRI
      responses:
        '200':
          description: Computed result. The provider does not publish a response schema for this operation; see the endpoint reference for the returned fields.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication failed — missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: false
                msg: API authentication failed!
        '404':
          description: The requested API endpoint is not available.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                status: false
                statusCode: 404
                error_msg: The requested API endpoint is not available. Kindly check your api name/url or HTTP method type.
      externalDocs:
        description: Vedic Astrology documentation
        url: https://astrologyapi.com/developers/v1/vedic
      x-postman-collection: Premium Plan (User Collection)
  /kalsarpa_details:
    post:
      operationId: kalsarpa_details
      summary: kalsarpa dosha
      tags:
      - Vedic Astrology
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                day:
                  type: string
                month:
                  type: string
                year:
                  type: string
                hour:
                  type: string
                min:
                  type: string
                lat:
                  type: string
                lon:
                  type: string
                tzone:
                  type: string
                ayanamsha:
                  type: string
                  description: 'other values : KP_OLD, KP_NEW,YUKTESHWAR,,RAMAN,JN_BHASIN,FAGAN_BRADLEY'
              required:
              - day
              - month
              - year
              - hour
              - min
              - lat
              - lon
              - tzone
              - ayanamsha
            example:
              day: '10'
              month: '5'
              year: '1990'
              hour: '19'
              min: '55'
              lat: '19.20'
              lon: '25.2'
              tzone: '5.5'
              ayanamsha: LAHIRI
      responses:
        '200':
          description: Computed result. The provider does not publish a response schema for this operation; see the endpoint reference for the returned fields.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication failed — missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: false
                msg: API authentication failed!
        '404':
          description: The requested API endpoint is not available.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                status: false
                statusCode: 404
                error_msg: The requested API endpoint is not available. Kindly check your api name/url or HTTP method type.
      externalDocs:
        description: Vedic Astrology documentation
        url: https://astrologyapi.com/developers/v1/vedic
      x-postman-collection: Premium Plan (User Collection)
  /kp_birth_chart:
    post:
      operationId: kp_birth_chart
      summary: kp_birth_chart
      tags:
      - Vedic Astrology
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                day:
                  type: string
                month:
                  type: string
                year:
                  type: string
                hour:
                  type: string
                min:
                  type: string
                lat:
                  type: string
                lon:
                  type: string
                tzone:
                  type: string
                ayanamsha:
                  type: string
                  description: 'other values : KP_OLD, KP_NEW,YUKTESHWAR,,RAMAN,JN_BHASIN,FAGAN_BRADLEY'
              required:
              - day
              - month
              - year
              - hour
              - min
              - lat
              - lon
              - tzone
              - ayanamsha
            example:
              day: '10'
              month: '5'
              year: '1990'
              hour: '19'
              min: '55'
              lat: '19.20'
              lon: '25.2'
              tzone: '5.5'
              ayanamsha: LAHIRI
      responses:
        '200':
          description: Computed result. The provider does not publish a response schema for this operation; see the endpoint reference for the returned fields.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication failed — missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: false
                msg: API authentication failed!
        '404':
          description: The requested API endpoint is not available.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                status: false
                statusCode: 404
                error_msg: The requested API endpoint is not available. Kindly check your api name/url or HTTP method type.
      externalDocs:
        description: Vedic Astrology documentation
        url: https://astrologyapi.com/developers/v1/vedic
      x-postman-collection: Premium Plan (User Collection)
  /kp_horoscope:
    post:
      operationId: kp_horoscope
      summary: kp_horoscope
      tags:
      - Vedic Astrology
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                day:
                  type: string
                month:
                  type: string
                year:
                  type: string
                hour:
                  type: string
                min:
                  type: string
                lat:
                  type: string
                lon:
                  type: string
                tzone:
                  type: string
                aspects:
                  type: string
                ayanamsha:
                  type: string
                  description: 'other values : KP_OLD, KP_NEW,YUKTESHWAR,,RAMAN,JN_BHASIN,FAGAN_BRADLEY'
              required:
              - day
              - month
              - year
              - hour
              - min
              - lat
              - lon
              - tzone
              - aspects
              - ayanamsha
            example:
              day: '10'
              month: '5'
              year: '1990'
              hour: '19'
              min: '55'
              lat: '19.20'
              lon: '25.2'
              tzone: '5.5'
              aspects: 'true'
              ayanamsha: LAHIRI
      responses:
        '200':
          description: Computed result. The provider does not publish a response schema for this operation; see the endpoint reference for the returned fields.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication failed — missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: false
                msg: API authentication failed!
        '404':
          description: The requested API endpoint is not available.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                status: false
                statusCode: 404
                error_msg: The requested API endpoint is not available. Kindly check your api name/url or HTTP method type.
      externalDocs:
        description: Vedic Astrology documentation
        url: https://astrologyapi.com/developers/v1/vedic
      x-postman-collection: Premium Plan (User Collection)
  /kp_house_cusps:
    post:
      operationId: kp_house_cusps
      summary: kp_house_cusps
      tags:
      - Vedic Astrology
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                day:
                  type: string
                month:
                  type: string
                year:
                  type: string
                hour:
                  type: string
                min:
                  type: string
                lat:
                  type: string
                lon:
                  type: string
                tzone:
                  type: string
                ayanamsha:
                  type: string
                  description: 'other values : KP_OLD, KP_NEW,YUKTESHWAR,,RAMAN,JN_BHASIN,FAGAN_BRADLEY'
              required:
              - day
              - month
              - year
              - hour
              - min
              - lat
              - lon
              - tzone
              - ayanamsha
            example:
              day: '10'
              month: '5'
              year: '1990'
              hour: '19'
              min: '55'
              lat: '19.20'
              lon: '25.2'
              tzone: '5.5'
              ayanamsha: LAHIRI
      responses:
        '200':
          description: Computed result. The provider does not publish a response schema for this operation; see the endpoint reference for the returned fields.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication failed — missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: false
                msg: API authentication failed!
        '404':
          description: The requested API endpoint is not available.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                status: false
                statusCode: 404
                error_msg: The requested API endpoint is not available. Kindly check your api name/url or HTTP method type.
      externalDocs:
        description: Vedic Astrology documentation
        url: https://astrologyapi.com/developers/v1/vedic
      x-postman-collection: Premium Plan (User Collection)
  /kp_house_significator:
    post:
      operationId: kp_house_significator
      summary: kp_house_significator
      tags:
      - Vedic Astrology
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                day:
                  type: string
                month:
                  type: string
                year:
                  type: string
                hour:
                  type: string
                min:
                  type: string
                lat:
                  type: string
                lon:
                  type: string
                tzone:
                  type: string
                ayanamsha:
                  type: string
                  description: 'other values : KP_OLD, KP_NEW,YUKTESHWAR,,RAMAN,JN_BHASIN,FAGAN_BRADLEY'
              required:
              - day
              - month
              - year
              - hour
              - min
              - lat
              - lon
              - tzone
              - ayanamsha
            example:
              day: '10'
              month: '5'
              year: '1990'
              hour: '19'
              min: '55'
              lat: '19.20'
              lon: '25.2'
              tzone: '5.5'
              ayanamsha: LAHIRI
      responses:
        '200':
          description: Computed result. The provider does not publish a response schema for this operation; see the endpoint reference for the returned fields.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication failed — missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: false
                msg: API authentication failed!
        '404':
          description: The requested API endpoint is not available.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                status: false
                statusCode: 404
                error_msg: The requested API endpoint is not available. Kindly check your api name/url or HTTP method type.
      externalDocs:
        description: Vedic Astrology documentation
        url: https://astrologyapi.com/developers/v1/vedic
      x-postman-collection: Premium Plan (User Collection)
  /kp_planet_significator:
    post:
      operationId: kp_planet_significator
      summary: kp_planet_significator
      tags:
      - Vedic Astrology
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                day:
                  type: string
                month:
                  type: string
                year:
                  type: string
                hour:
                  type: string
                min:
                  type: string
                lat:
                  type: string
                lon:
                  type: string
                tzone:
                  type: string
                ayanamsha:
                  type: string
                  description: 'other values : KP_OLD, KP_NEW,YUKTESHWAR,,RAMAN,JN_BHASIN,FAGAN_BRADLEY'
              required:
              - day
              - month
              - year
              - hour
              - min
              - lat
              - lon
              - tzone
              - ayanamsha
            example:
              day: '10'
              month: '5'
              year: '1990'
              hour: '19'
              min: '55'
              lat: '19.20'
              lon: '25.2'
              tzone: '5.5'
              ayanamsha: LAHIRI
      responses:
        '200':
          description: Computed result. The provider does not publish a response schema for this operation; see the endpoint reference for the returned fields.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication failed — missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: false
                msg: API authentication failed!
        '404':
          description: The requested API endpoint is not available.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                status: false
                statusCode: 404
                error_msg: The requested API endpoint is not available. Kindly check your api name/url or HTTP method type.
      externalDocs:
        description: Vedic Astrology documentation
        url: https://astrologyapi.com/developers/v1/vedic
      x-postman-collection: Premium Plan (User Collection)
  /kp_planets:
    post:
      operationId: kp_planets
      summary: kp_planets
      tags:
      - Vedic Astrology
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                day:
                  type: string
                month:
                  type: string
                year:
                  type: string
                hour:
                  type: string
                min:
                  type: string
                lat:
                  type: string
                lon:
                  type: string
                tzone:
                  type: string
                ayanamsha:
                  type: string
                  description: 'other values : KP_OLD, KP_NEW,YUKTESHWAR,,RAMAN,JN_BHASIN,FAGAN_BRADLEY'
              required:
              - day
              - month
              - year
              - hour
              - min
              - lat
              - lon
              - tzone
              - ayanamsha
            example:
              day: '10'
              month: '5'
              year: '1990'
              hour: '19'
              min: '55'
              lat: '19.20'
              lon: '25.2'
              tzone: '5.5'
              ayanamsha: LAHIRI
      responses:
        '200':
          description: Computed result. The provider does not publish a response schema for this operation; see the endpoint reference for the returned fields.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication failed — missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: false
                msg: API authentication failed!
        '404':
          description: The requested API endpoint is not available.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                status: false
                statusCode: 404
                error_msg: The requested API endpoint is not available. Kindly check your api name/url or HTTP method type.
      externalDocs:
        description: Vedic Astrology documentation
        url: https://astrologyapi.com/developers/v1/vedic
      x-postman-collection: Premium Plan (User Collection)
  /lalkitab_debts:
    post:
      operationId: lalkitab_debts
      summary: lalkitab_debts
      tags:
      - Vedic Astrology
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                day:
                  type: string
                month:
                  type: string
                year:
                  type: string
                hour:
                  type: string
                min:
                  type: string
                lat:
                  type: string
                lon:
                  type: string
                tzone:
                  type: string
                ayanamsha:
                  type: string
                  description: 'other values : KP_OLD, KP_NEW,YUKTESHWAR,,RAMAN,JN_BHASIN,FAGAN_BRADLEY'
              required:
              - day
              - month
              - year
              - hour
              - min
              - lat
              - lon
              - tzone
              - ayanamsha
            example:
              day: '10'
              month: '5'
              year: '1990'
              hour: '19'
              min: '55'
              lat: '19.20'
              lon: '25.2'
              tzone: '5.5'
              ayanamsha: LAHIRI
      responses:
        '200':
          description: Computed result. The provider does not publish a response schema for this operation; see the endpoint reference for the returned fields.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication failed — missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: false
                msg: API authentication failed!
        '404':
          description: The requested API endpoint is not available.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                status: false
                statusCode: 404
                error_msg: The requested API endpoint is not available. Kindly check your api name/url or HTTP method type.
      externalDocs:
        description: Vedic Astrology documentation
        url: https://astrologyapi.com/developers/v1/vedic
      x-postman-collection: Premium Plan (User Collection)
  /lalkitab_horoscope:
    post:
      operationId: lalkitab_horoscope
      summary: lalkitab_horoscope
      tags:
      - Vedic Astrology
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                day:
                  type: string
                month:
                  type: string
                year:
                  type: string
                hour:
                  type: string
                min:
                  type: string
                lat:
                  type: string
                lon:
                  type: string
                tzone:
                  type: string
                ayanamsha:
                  type: string
                  description: 'other values : KP_OLD, KP_NEW,YUKTESHWAR,,RAMAN,JN_BHASIN,FAGAN_BRADLEY'
              required:
              - day
              - month
              - year
              - hour
              - min
              - lat
              - lon
              - tzone
              - ayanamsha
            example:
              day: '10'
              month: '5'
              year: '1990'
              hour: '19'
              min: '55'
              lat: '19.20'
              lon: '25.2'
              tzone: '5.5'
              ayanamsha: LAHIRI
      responses:
        '200':
          description: Computed result. The provider does not publish a response schema for this operation; see the endpoint reference for the returned fields.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication failed — missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: false
                msg: API authentication failed!
        '404':
          description: The requested API endpoint is not available.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                status: false
                statusCode: 404
[...]
