# generated: '2026-09-07'
# method: derived
# source: https://astrologyapi.com/developers/v1/postman-collection (8 first-party Postman collections)
openapi: 3.1.0
info:
  title: AstrologyAPI JSON API
  version: 1.0.0
  description: Vedic (Jyotish), Western, Human Design and AstroCartoGraphy calculation endpoints served
    from the AstrologyAPI JSON host. Every operation is a POST that takes birth or location details and
    returns computed astrological data.
  contact:
    name: AstrologyAPI Support
    email: support@astrologyapi.com
    url: https://astrologyapi.com/contact
  termsOfService: https://astrologyapi.com/legal/terms-service
  license:
    name: Proprietary
    url: https://astrologyapi.com/legal/terms-service
externalDocs:
  description: AstrologyAPI developer hub
  url: https://astrologyapi.com/developers/v1
servers:
- url: https://json.astrologyapi.com/v1
  description: AstrologyAPI JSON API production host
x-generated-from: postman-collection
x-generated-note: Derived operation-by-operation from the eight Postman collections AstrologyAPI publishes
  at https://astrologyapi.com/developers/v1/postman-collection. Paths, HTTP methods, request fields and
  example values are taken verbatim from those collections. The 401 and 404 response envelopes were observed
  on live unauthenticated requests to the host on 2026-09-07. The provider publishes no response schemas,
  so 200 bodies are typed only as objects rather than invented. This is an API Evangelist derivation,
  not a contract published by AstrologyAPI.
x-source-collections:
- https://astrologyapi.com/postman/ACG.postman_collection.json
- https://astrologyapi.com/postman/HD%20Collection.postman_collection.json
- https://astrologyapi.com/postman/face_reading_API_collection_postman_collection.json
- https://astrologyapi.com/postman/palm_API_collection_postman_collection.json
- https://astrologyapi.com/postman/vedic_astrology_API_collection_postman_collection.json
- https://astrologyapi.com/postman/vedic_astrology_pdf_API_collection_postman_collection.json
- https://astrologyapi.com/postman/western_astrology_API_collection_postman_collection.json
- https://astrologyapi.com/postman/western_astrology_pdf_API_collection_postman_collection.json
tags:
- name: Astrocartography
- name: Human Design
- name: Vedic Astrology
- name: Western Astrology
security:
- basicAuth: []
- accessToken: []
paths:
  /acg/location/{category}:
    post:
      operationId: acg_location_category
      summary: Category Based Location
      tags:
      - Astrocartography
      description: 'Returns only the astrocartography lines for the planets tied to a chosen life category.


        **What it does** — Maps a life theme (love, career, money, etc.) to its associated planets and
        returns just those planets'' angle lines, so you can highlight the places on Earth that favor
        that area of life rather than drawing the whole map. Use it for themed "best places for love/career"
        map views.


        **Send** — Standard `birth_details` (see the collection overview), all nine required. Path parameter
        `category` — the life area to filter by, e.g. `LOVE`, `CAREER`, `MONEY`, `HEALTH`, `SPIRITUALITY`,
        `ADVENTURE`, `CREATIVITY`, `POWER`, `COMMUNICATION`.


        **Returns** — A JSON object with `meta`, the echoed `category`, and a `lines` array structured
        exactly like the Travel endpoint but limited to the category''s planets: each entry carries that
        planet''s `asc`/`dsc` rising/setting curves (a `points` list of `{latitude_deg, longitude_deg}`)
        and MC/IC meridian longitudes. Longitudes are east-positive.


        **Errors** — An unknown `category` or invalid/missing `birth_details` returns `400` with the offending
        field in `field_errors`; see the collection overview for the full error format.'
      parameters:
      - name: category
        in: path
        required: true
        schema:
          type: string
        example: LOVE
        description: 'Life category: LOVE, CAREER, MONEY, HEALTH, SPIRITUALITY, ADVENTURE, CREATIVITY,
          POWER, COMMUNICATION'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                day:
                  type: integer
                month:
                  type: integer
                year:
                  type: integer
                hour:
                  type: integer
                min:
                  type: integer
                second:
                  type: integer
                tzone:
                  type: number
                lat:
                  type: number
                lon:
                  type: number
                include_parans:
                  type: boolean
              required:
              - day
              - month
              - year
              - hour
              - min
              - second
              - tzone
              - lat
              - lon
              - include_parans
            example:
              day: 22
              month: 8
              year: 1999
              hour: 18
              min: 50
              second: 0
              tzone: 5.5
              lat: 19.0759837
              lon: 72.8776559
              include_parans: false
      responses:
        '200':
          description: Computed result. The provider does not publish a response schema for this operation;
            see the endpoint reference for the returned fields.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication failed — missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: false
                msg: API authentication failed!
        '404':
          description: The requested API endpoint is not available.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                status: false
                statusCode: 404
                error_msg: The requested API endpoint is not available. Kindly check your api name/url
                  or HTTP method type.
      externalDocs:
        description: Astrocartography documentation
        url: https://astrologyapi.com/products/astrocartography-api
      x-postman-collection: Astrocartography Collection
  /acg/planetary-line/{category}/{planet}:
    post:
      operationId: acg_planetary_line_category_planet
      summary: Planetary Line Report
      tags:
      - Astrocartography
      description: 'Returns the geometry of one single planet-and-angle astrocartography line.


        **What it does** — Computes just one line: a specific planet on a specific angle (its Midheaven,
        IC, Ascendant, or Descendant line). Use it when you want the coordinates of one line in isolation
        rather than a whole map.


        **Send** — Standard `birth_details` (see the collection overview), all nine required. Path parameter
        `category` — the line/angle type: `MC`, `IC`, `AC`, or `DC`. Path parameter `planet` — the body,
        `SUN` through `PLUTO`.


        **Returns** — A JSON object with `meta` (engine info, the latitude step, the east-positive longitude
        convention, and the reference location) and a `line` object. For MC/IC the line is a `meridian`
        with a single `longitude_deg`, the `object` (planet) name, and the `zenith_latitude_deg` where
        the planet is directly overhead. For AC/DC it comes back as a `curve` with a `points` array of
        `{latitude_deg, longitude_deg}` samples tracing the rising/setting line.


        **Errors** — A bad `category`/`planet` or invalid `birth_details` returns `400` with the offending
        field in `field_errors`; see the collection overview for the full error format.'
      parameters:
      - name: category
        in: path
        required: true
        schema:
          type: string
        example: MC
        description: 'Angle type: MC, IC, AC, or DC'
      - name: planet
        in: path
        required: true
        schema:
          type: string
        example: MOON
        description: 'Planet: SUN through PLUTO'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                day:
                  type: integer
                month:
                  type: integer
                year:
                  type: integer
                hour:
                  type: integer
                min:
                  type: integer
                second:
                  type: integer
                tzone:
                  type: number
                lat:
                  type: number
                lon:
                  type: number
                include_parans:
                  type: boolean
              required:
              - day
              - month
              - year
              - hour
              - min
              - second
              - tzone
              - lat
              - lon
              - include_parans
            example:
              day: 22
              month: 8
              year: 1999
              hour: 18
              min: 50
              second: 0
              tzone: 5.5
              lat: 19.0759837
              lon: 72.8776559
              include_parans: false
      responses:
        '200':
          description: Computed result. The provider does not publish a response schema for this operation;
            see the endpoint reference for the returned fields.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication failed — missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: false
                msg: API authentication failed!
        '404':
          description: The requested API endpoint is not available.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                status: false
                statusCode: 404
                error_msg: The requested API endpoint is not available. Kindly check your api name/url
                  or HTTP method type.
      externalDocs:
        description: Astrocartography documentation
        url: https://astrologyapi.com/products/astrocartography-api
      x-postman-collection: Astrocartography Collection
  /acg/travel:
    post:
      operationId: acg_travel
      summary: Travel (Plot Coordinates)
      tags:
      - Astrocartography
      description: 'Returns all of a chart''s astrocartography line coordinates so you can draw a full
        ACG map.


        **What it does** — For each planet it computes where on Earth that planet is exactly on one of
        the four angles — the MC/IC meridians (the longitudes where the planet is overhead or underfoot)
        and the AC/DC curves (the winding lines where it''s rising or setting). Plotting these lines shows
        which places amplify each planet''s themes for the person. Use it to render an interactive relocation/astrocartography
        map.


        **Send** — Standard `birth_details` (see the collection overview), all nine required. `include_parans`
        (boolean, default `false`) — set `true` to also return the latitude-crossing paran lines. Longitudes
        are reported east-positive.


        **Returns** — A JSON object with `meta` and a `lines` array, one entry per planet. Each entry
        holds that planet''s four angle lines: the `asc`/`dsc` are `curve` objects with a `points` array
        of `{latitude_deg, longitude_deg}` samples (stepped by latitude) tracing the rising/setting curve,
        while the MC/IC come back as `meridian` objects carrying a single `longitude_deg`. When `include_parans=true`,
        paran latitude crossings are included in the response.


        **Errors** — Invalid, missing, or out-of-range input returns `400` with the offending field in
        `field_errors`; see the collection overview for the full error format.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                day:
                  type: integer
                month:
                  type: integer
                year:
                  type: integer
                hour:
                  type: integer
                min:
                  type: integer
                second:
                  type: integer
                tzone:
                  type: number
                lat:
                  type: number
                lon:
                  type: number
                include_parans:
                  type: boolean
              required:
              - day
              - month
              - year
              - hour
              - min
              - second
              - tzone
              - lat
              - lon
              - include_parans
            example:
              day: 22
              month: 8
              year: 1999
              hour: 18
              min: 50
              second: 0
              tzone: 5.5
              lat: 19.0759837
              lon: 72.8776559
              include_parans: false
      responses:
        '200':
          description: Computed result. The provider does not publish a response schema for this operation;
            see the endpoint reference for the returned fields.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication failed — missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: false
                msg: API authentication failed!
        '404':
          description: The requested API endpoint is not available.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                status: false
                statusCode: 404
                error_msg: The requested API endpoint is not available. Kindly check your api name/url
                  or HTTP method type.
      externalDocs:
        description: Astrocartography documentation
        url: https://astrologyapi.com/products/astrocartography-api
      x-postman-collection: Astrocartography Collection
  /advanced_panchang:
    post:
      operationId: advanced_panchang
      summary: advanced panchang
      tags:
      - Vedic Astrology
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                day:
                  type: string
                month:
                  type: string
                year:
                  type: string
                hour:
                  type: string
                min:
                  type: string
                lat:
                  type: string
                lon:
                  type: string
                tzone:
                  type: string
              required:
              - day
              - month
              - year
              - hour
              - min
              - lat
              - lon
              - tzone
            example:
              day: '10'
              month: '5'
              year: '1990'
              hour: '19'
              min: '55'
              lat: '19.20'
              lon: '25.2'
              tzone: '5.5'
      responses:
        '200':
          description: Computed result. The provider does not publish a response schema for this operation;
            see the endpoint reference for the returned fields.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication failed — missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: false
                msg: API authentication failed!
        '404':
          description: The requested API endpoint is not available.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                status: false
                statusCode: 404
                error_msg: The requested API endpoint is not available. Kindly check your api name/url
                  or HTTP method type.
      externalDocs:
        description: Vedic Astrology documentation
        url: https://astrologyapi.com/developers/v1/vedic
      x-postman-collection: Premium Plan (User Collection)
  /advanced_panchang/sunrise:
    post:
      operationId: advanced_panchang_sunrise
      summary: advanced_panchang/sunrise
      tags:
      - Vedic Astrology
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                day:
                  type: string
                month:
                  type: string
                year:
                  type: string
                hour:
                  type: string
                min:
                  type: string
                lat:
                  type: string
                lon:
                  type: string
                tzone:
                  type: string
              required:
              - day
              - month
              - year
              - hour
              - min
              - lat
              - lon
              - tzone
            example:
              day: '10'
              month: '5'
              year: '1990'
              hour: '19'
              min: '55'
              lat: '19.20'
              lon: '25.2'
              tzone: '5.5'
      responses:
        '200':
          description: Computed result. The provider does not publish a response schema for this operation;
            see the endpoint reference for the returned fields.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication failed — missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: false
                msg: API authentication failed!
        '404':
          description: The requested API endpoint is not available.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                status: false
                statusCode: 404
                error_msg: The requested API endpoint is not available. Kindly check your api name/url
                  or HTTP method type.
      externalDocs:
        description: Vedic Astrology documentation
        url: https://astrologyapi.com/developers/v1/vedic
      x-postman-collection: Premium Plan (User Collection)
  /astro_details:
    post:
      operationId: astro_details
      summary: astro_details
      tags:
      - Vedic Astrology
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                day:
                  type: string
                month:
                  type: string
                year:
                  type: string
                hour:
                  type: string
                min:
                  type: string
                lat:
                  type: string
                lon:
                  type: string
                tzone:
                  type: string
                ayanamsha:
                  type: string
                  description: 'other values : KP_OLD, KP_NEW,YUKTESHWAR,,RAMAN,JN_BHASIN,FAGAN_BRADLEY'
              required:
              - day
              - month
              - year
              - hour
              - min
              - lat
              - lon
              - tzone
              - ayanamsha
            example:
              day: '10'
              month: '5'
              year: '1990'
              hour: '19'
              min: '55'
              lat: '19.20'
              lon: '25.2'
              tzone: '5.5'
              ayanamsha: LAHIRI
      responses:
        '200':
          description: Computed result. The provider does not publish a response schema for this operation;
            see the endpoint reference for the returned fields.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication failed — missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: false
                msg: API authentication failed!
        '404':
          description: The requested API endpoint is not available.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                status: false
                statusCode: 404
                error_msg: The requested API endpoint is not available. Kindly check your api name/url
                  or HTTP method type.
      externalDocs:
        description: Vedic Astrology documentation
        url: https://astrologyapi.com/developers/v1/vedic
      x-postman-collection: Premium Plan (User Collection)
  /ayanamsha:
    post:
      operationId: ayanamsha
      summary: ayanamsha
      tags:
      - Vedic Astrology
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                day:
                  type: string
                month:
                  type: string
                year:
                  type: string
                hour:
                  type: string
                min:
                  type: string
                lat:
                  type: string
                lon:
                  type: string
                tzone:
                  type: string
              required:
              - day
              - month
              - year
              - hour
              - min
              - lat
              - lon
              - tzone
            example:
              day: '10'
              month: '5'
              year: '1990'
              hour: '19'
              min: '55'
              lat: '19.20'
              lon: '25.2'
              tzone: '5.5'
      responses:
        '200':
          description: Computed result. The provider does not publish a response schema for this operation;
            see the endpoint reference for the returned fields.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication failed — missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: false
                msg: API authentication failed!
        '404':
          description: The requested API endpoint is not available.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                status: false
                statusCode: 404
                error_msg: The requested API endpoint is not available. Kindly check your api name/url
                  or HTTP method type.
      externalDocs:
        description: Vedic Astrology documentation
        url: https://astrologyapi.com/developers/v1/vedic
      x-postman-collection: Premium Plan (User Collection)
  /basic_gem_suggestion:
    post:
      operationId: basic_gem_suggestion
      summary: gemstone suggestion
      tags:
      - Vedic Astrology
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                day:
                  type: string
                month:
                  type: string
                year:
                  type: string
                hour:
                  type: string
                min:
                  type: string
                lat:
                  type: string
                lon:
                  type: string
                tzone:
                  type: string
                ayanamsha:
                  type: string
                  description: 'other values : KP_OLD, KP_NEW,YUKTESHWAR,,RAMAN,JN_BHASIN,FAGAN_BRADLEY'
              required:
              - day
              - month
              - year
              - hour
              - min
              - lat
              - lon
              - tzone
              - ayanamsha
            example:
              day: '10'
              month: '5'
              year: '1990'
              hour: '19'
              min: '55'
              lat: '19.20'
              lon: '25.2'
              tzone: '5.5'
              ayanamsha: LAHIRI
      responses:
        '200':
          description: Computed result. The provider does not publish a response schema for this operation;
            see the endpoint reference for the returned fields.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication failed — missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: false
                msg: API authentication failed!
        '404':
          description: The requested API endpoint is not available.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                status: false
                statusCode: 404
                error_msg: The requested API endpoint is not available. Kindly check your api name/url
                  or HTTP method type.
      externalDocs:
        description: Vedic Astrology documentation
        url: https://astrologyapi.com/developers/v1/vedic
      x-postman-collection: Premium Plan (User Collection)
  /basic_panchang:
    post:
      operationId: basic_panchang
      summary: basic panchang
      tags:
      - Vedic Astrology
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                day:
                  type: string
                month:
                  type: string
                year:
                  type: string
                hour:
                  type: string
                min:
                  type: string
                lat:
                  type: string
                lon:
                  type: string
                tzone:
                  type: string
              required:
              - day
              - month
              - year
              - hour
              - min
              - lat
              - lon
              - tzone
            example:
              day: '10'
              month: '5'
              year: '1990'
              hour: '19'
              min: '55'
              lat: '19.20'
              lon: '25.2'
              tzone: '5.5'
      responses:
        '200':
          description: Computed result. The provider does not publish a response schema for this operation;
            see the endpoint reference for the returned fields.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication failed — missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: false
                msg: API authentication failed!
        '404':
          description: The requested API endpoint is not available.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                status: false
                statusCode: 404
                error_msg: The requested API endpoint is not available. Kindly check your api name/url
                  or HTTP method type.
      externalDocs:
        description: Vedic Astrology documentation
        url: https://astrologyapi.com/developers/v1/vedic
      x-postman-collection: Premium Plan (User Collection)
  /basic_panchang/sunrise:
    post:
      operationId: basic_panchang_sunrise
      summary: basic_panchang/sunrise
      tags:
      - Vedic Astrology
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                day:
                  type: string
                month:
                  type: string
                year:
                  type: string
                hour:
                  type: string
                min:
                  type: string
                lat:
                  type: string
                lon:
                  type: string
                tzone:
                  type: string
              required:
              - day
              - month
              - year
              - hour
              - min
              - lat
              - lon
              - tzone
            example:
              day: '10'
              month: '5'
              year: '1990'
              hour: '19'
              min: '55'
              lat: '19.20'
              lon: '25.2'
              tzone: '5.5'
      responses:
        '200':
          description: Computed result. The provider does not publish a response schema for this operation;
            see the endpoint reference for the returned fields.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication failed — missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: false
                msg: API authentication failed!
        '404':
          description: The requested API endpoint is not available.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                status: false
                statusCode: 404
                error_msg: The requested API endpoint is not available. Kindly check your api name/url
                  or HTTP method type.
      externalDocs:
        description: Vedic Astrology documentation
        url: https://astrologyapi.com/developers/v1/vedic
      x-postman-collection: Premium Plan (User Collection)
  /bhav_madhya:
    post:
      operationId: bhav_madhya
      summary: bhav_madhya
      tags:
      - Vedic Astrology
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                day:
                  type: string
                month:
                  type: string
                year:
                  type: string
                hour:
                  type: string
                min:
                  type: string
                lat:
                  type: string
                lon:
                  type: string
                tzone:
                  type: string
                ayanamsha:
                  type: string
                  description: 'other values : KP_OLD, KP_NEW,YUKTESHWAR,,RAMAN,JN_BHASIN,FAGAN_BRADLEY'
              required:
              - day
              - month
              - year
              - hour
              - min
              - lat
              - lon
              - tzone
              - ayanamsha
            example:
              day: '10'
              month: '5'
              year: '1990'
              hour: '19'
              min: '55'
              lat: '19.20'
              lon: '25.2'
              tzone: '5.5'
              ayanamsha: LAHIRI
      responses:
        '200':
          description: Computed result. The provider does not publish a response schema for this operation;
            see the endpoint reference for the returned fields.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication failed — missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: false
                msg: API authentication failed!
        '404':
          description: The requested API endpoint is not available.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                status: false
                statusCode: 404
                error_msg: The requested API endpoint is not available. Kindly check your api name/url
                  or HTTP method type.
      externalDocs:
        description: Vedic Astrology documentation
        url: https://astrologyapi.com/developers/v1/vedic
      x-postman-collection: Premium Plan (User Collection)
  /bhavabala:
    post:
      operationId: bhavabala
      summary: bhavabala
      tags:
      - Vedic Astrology
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                day:
                  type: string
                month:
                  type: string
                year:
                  type: string
                hour:
                  type: string
                min:
                  type: string
                lat:
                  type: string
                lon:
                  type: string
                tzone:
                  type: string
              required:
              - day
              - month
              - year
              - hour
              - min
              - lat
              - lon
              - tzone
            example:
              day: '10'
              month: '11'
              year: '2026'
              hour: '11'
              min: '16'
              lat: '19.07'
              lon: '72.877'
              tzone: '5.5'
      responses:
        '200':
          description: Computed result. The provider does not publish a response schema for this operation;
            see the endpoint reference for the returned fields.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication failed — missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: false
                msg: API authentication failed!
        '404':
          description: The requested API endpoint is not available.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                status: false
                statusCode: 404
                error_msg: The requested API endpoint is not available. Kindly check your api name/url
                  or HTTP method type.
      externalDocs:
        description: Vedic Astrology documentation
        url: https://astrologyapi.com/developers/v1/vedic
      x-postman-collection: Premium Plan (User Collection)
  /biorhythm:
    post:
      operationId: biorhythm
      summary: biorhythm
      tags:
      - Vedic Astrology
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                day:
                  type: string
                month:
                  type: string
                year:
                  type: string
                hour:
                  type: string
                min:
                  type: string
                lat:
                  type: string
                lon:
                  type: string
                tzone:
                  type: string
                ayanamsha:
                  type: string
                  description: 'other values : KP_OLD, KP_NEW,YUKTESHWAR,,RAMAN,JN_BHASIN,FAGAN_BRADLEY'
              required:
              - day
              - month
              - year
              - hour
              - min
              - lat
              - lon
              - tzone
              - ayanamsha
            example:
              day: '10'
              month: '5'
              year: '1990'
              hour: '19'
              min: '55'
              lat: '19.20'
              lon: '25.2'
              tzone: '5.5'
              ayanamsha: LAHIRI
      responses:
        '200':
          description: Computed result. The provider does not publish a response schema for this operation;
            see the endpoint reference for the returned fields.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication failed — missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: false
                msg: API authentication failed!
        '404':
          description: The requested API endpoint is not available.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                status: false
                statusCode: 404
                error_msg: The requested API endpoint is not available. Kindly check your api name/url
                  or HTTP method type.
      externalDocs:
        description: Vedic Astrology documentation
        url: https://astrologyapi.com/developers/v1/vedic
      x-postman-collection: Premium Plan (User Collection)
  /birth_details:
    post:
      operationId: birth_details
      summary: birth_details
      tags:
      - Vedic Astrology
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                day:
                  type: string
                month:
                  type: string
                year:
                  type: string
                hour:
                  type: string
                min:
                  type: string
                lat:
                  type: string
                lon:
                  type: string
                tzone:
                  type: string
                ayanamsha:
                  type: string
                  description: 'other values : KP_OLD, KP_NEW,YUKTESHWAR,,RAMAN,JN_BHASIN,FAGAN_BRADLEY'
              required:
              - day
              - month
              - year
              - hour
              - min
              - lat
              - lon
              - tzone
              - ayanamsha
            example:
              day: '10'
              month: '5'
              year: '1990'
              hour: '19'
              min: '55'
              lat: '19.20'
              lon: '25.2'
              tzone: '5.5'
              ayanamsha: LAHIRI
      responses:
        '200':
          description: Computed result. The provider does not publish a response schema for this operation;
            see the endpoint reference for the returned fields.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication failed — missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: false
                msg: API authentication failed!
        '404':
          description: The requested API endpoint is not available.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                status: false
                statusCode: 404
                error_msg: The requested API endpoint is not available. Kindly check your api name/url
                  or HTTP method type.
      externalDocs:
        description: Vedic Astrology documentation
        url: https://astrologyapi.com/developers/v1/vedic
      x-postman-collection: Premium Plan (User Collection)
  /challenge_numbers:
    post:
      operationId: challenge_numbers
      summary: challenge_numbers
      tags:
      - Western Astrology
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                day:
                  type: string
                month:
                  type: string
                year:
                  type: string
                full name:
                  type: string
              required:
              - day
              - month
              - year
              - full name
            example:
              day: '10'
              month: '5'
              year: '1992'
              full name: demo
      responses:
        '200':
          description: Computed result. The provider does not publish a response schema for this operation;
            see the endpoint reference for the returned fields.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication failed — missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: false
                msg: API authentication failed!
        '404':
          description: The requested API endpoint is not available.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                status: false
                statusCode: 404
                error_msg: The requested API endpoint is not available. Kindly check your api name/url
                  or HTTP method type.
      externalDocs:
        description: Western Astrology documentation
        url: https://www.astrologyapi.com/western-api-docs
      x-postman-collection: Business Plan (User Collection)
  /chaughadiya_muhurta:
    post:
      operationId: chaughadiya_muhurta
      summary: chaughadiya_muhurta
      tags:
      - Vedic Astrology
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                day:
                  type: string
                month:
                  type: string
                year:
                  type: string
                hour:
                  type: string
                min:
                  type: string
                lat:
                  type: string
                lon:
                  type: string
                tzone:
                  type: string
              required:
              - day
              - month
              - year
              - hour
              - min
              - lat
              - lon
              - tzone
            example:
              day: '10'
              month: '5'
              year: '1990'
              hour: '19'
              min: '55'
              lat: '19.20'
              lon: '25.2'
              tzone: '5.5'
      responses:
        '200':
          description: Computed result. The provider does not publish a response schema for this operation;
            see the endpoint reference for the returned fields.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication failed — missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: false
                msg: API authentication failed!
        '404':
          description: The requested API endpoint is not available.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                status: false
                statusCode: 404
                error_msg: The requested API endpoint is not available. Kindly check your api name/url
                  or HTTP method type.
      externalDocs:
        description: Vedic Astrology documentation
        url: https://astrologyapi.com/developers/v1/vedic
      x-postman-collection: Premium Plan (User Collection)
  /chinese_year_forecast:
    post:
      operationId: chinese_year_forecast
      summary: chinese_year_forecast
      tags:
      - Western Astrology
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                day:
                  type: string
                month:
                  type: string
                year:
                  type: string
                hour:
                  type: string
                min:
                  type: string
                lat:
                  type: string
                lon:
                  type: string
                tzone:
                  type: string
              required:
              - day
              - month
              - year
              - hour
              - min
              - lat
              - lon
              - tzone
            example:
              day: '10'
              month: '5'
              year: '1992'
              hour: '21'
              min: '30'
              lat: '19.20'
              lon: '25.2'
              tzone: '5.5'
      responses:
        '200':
          description: Computed result. The provider does not publish a response schema for this operation;
            see the endpoint reference for the returned fields.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication failed — missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: false
                msg: API authentication failed!
        '404':
          description: The requested API endpoint is not available.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                status: false
                statusCode: 404
                error_msg: The requested API endpoint is not available. Kindly check your api name/url
                  or HTTP method type.
      externalDocs:
        description: Western Astrology documentation
        url: https://www.astrologyapi.com/western-api-docs
      x-postman-collection: Business Plan (User Collection)
  /chinese_zodiac:
    post:
      operationId: chinese_zodiac
      summary: chinese_zodiac
      tags:
      - Western Astrology
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                day:
                  type: string
                month:
                  type: string
                year:
                  type: string
                hour:
                  type: string
                min:
                  type: string
                lat:
                  type: string
                lon:
                  type: string
                tzone:
                  type: string
              required:
              - day
              - month
              - year
              - hour
              - min
              - lat
              - lon
              - tzone
            example:
              day: '10'
              month: '5'
              year: '1992'
              hour: '21'
              min: '30'
              lat: '19.20'
              lon: '25.2'
              tzone: '5.5'
      responses:
        '200':
          description: Computed result. The provider does not publish a response schema for this operation;
            see the endpoint reference for the returned fields.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication failed — missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: false
                msg: API authentication failed!
        '404':
          description: The requested API endpoint is not available.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                status: false
                statusCode: 404
                error_msg: The requested API endpoint is not available. Kindly check your api name/url
                  or HTTP method type.
      externalDocs:
        description: Western Astrology documentation
        url: https://www.astrologyapi.com/western-api-docs
      x-postman-collection: Business Plan (User Collection)
  /composite_horoscope:
    post:
      operationId: composite_horoscope
      summary: composite_horoscope
      tags:
      - Western Astrology
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                p_day:
                  type: string
                p_month:
                  type: string
                p_year:
                  type: string
                p_hour:
                  type: string
                p_min:
                  type: string
                p_lat:
                  type: string
                p_lon:
                  type: string
                p_tzone:
                  type: string
                s_day:
                  type: string
                s_month:
                  type: string
                s_year:
                  type: string
                s_hour:
                  type: string
                s_min:
                  type: string
                s_lat:
                  type: string
                s_lon:
                  type: string
                s_tzone:
                  type: string
              required:
              - p_day
              - p_month
              - p_year
              - p_hour
              - p_min
              - p_lat
              - p_lon
              - p_tzone
              - s_day
              - s_month
              - s_year
              - s_hour
              - s_min
              - s_lat
              - s_lon
              - s_tzone
            example:
              p_day: '1'
              p_month: '8'
              p_year: '2000'
              p_hour: '21'
              p_min: '30'
              p_lat: '19.20'
              p_lon: '25.20'
              p_tzone: '5.5'
              s_day: '1'
              s_month: '3'
              s_year: '2000'
              s_hour: '07'
              s_min: '00'
              s_lat: '19.33'
              s_lon: '25.20'
              s_tzone: '5.5'
      responses:
        '200':
          description: Computed result. The provider does not publish a response schema for this operation;
            see the endpoint reference for the returned fields.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication failed — missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: false
                msg: API authentication failed!
        '404':
          description: The requested API endpoint is not available.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                status: false
                statusCode: 404
                error_msg: The requested API endpoint is not available. Kindly check your api name/url
                  or HTTP method type.
      externalDocs:
        description: Western Astrology documentation
        url: https://www.astrologyapi.com/western-api-docs
      x-postman-collection: Business Plan (User Collection)
  /current_chardasha:
    post:
      operationId: current_chardasha
      summary: current_chardasha
      tags:
      - Vedic Astrology
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                day:
                  type: string
                month:
                  type: string
                year:
                  type: string
                hour:
                  type: string
                min:
                  type: string
                lat:
                  type: string
                lon:
                  type: string
                tzone:
                  type: string
                ayanamsha:
                  type: string
                  description: 'other values : KP_OLD, KP_NEW,YUKTESHWAR,,RAMAN,JN_BHASIN,FAGAN_BRADLEY'
              required:
              - day
              - month
              - year
              - hour
              - min
              - lat
              - lon
              - tzone
              - ayanamsha
            example:
              day: '10'
              month: '5'
              year: '1990'
              hour: '19'
              min: '55'
              lat: '19.20'
              lon: '25.2'
              tzone: '5.5'
              ayanamsha: LAHIRI
      responses:
        '200':
          description: Computed result. The provider does not publish a response schema for this operation;
            see the endpoint reference for the returned fields.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication failed — missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: false
                msg: API authentication failed!
        '404':
          description: The requested API endpoint is not available.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                status: false
                statusCode: 404
                error_msg: The requested API endpoint is not available. Kindly check your api name/url
                  or HTTP method type.
      externalDocs:
        description: Vedic Astrology documentation
        url: https://astrologyapi.com/developers/v1/vedic
      x-postman-collection: Premium Plan (User Collection)
  /current_vdasha:
    post:
      operationId: current_vdasha
      summary: current vdasha
      tags:
      - Vedic Astrology
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                day:
                  type: string
                month:
                  type: string
                year:
                  type: string
                hour:
                  type: string
                min:
                  type: string
                lat:
                  type: string
                lon:
                  type: string
                tzone:
                  type: string
                ayanamsha:
                  type: string
                  description: 'other values : KP_OLD, KP_NEW,YUKTESHWAR,,RAMAN,JN_BHASIN,FAGAN_BRADLEY'
              required:
              - day
              - month
              - year
              - hour
              - min
              - lat
              - lon
              - tzone
              - ayanamsha
            example:
              day: '10'
              month: '5'
              year: '1990'
              hour: '19'
              min: '55'
              lat: '19.20'
              lon: '25.2'
              tzone: '5.5'
              ayanamsha: LAHIRI
      responses:
        '200':
          description: Computed result. The provider does not publish a response schema for this operation;
            see the endpoint reference for the returned fields.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication failed — missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: false
                msg: API authentication failed!
        '404':
          description: The requested API endpoint is not available.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                status: false
                statusCode: 404
                error_msg: The requested API endpoint is not available. Kindly check your api name/url
                  or HTTP method type.
      externalDocs:
        description: Vedic Astrology documentation
        url: https://astrologyapi.com/developers/v1/vedic
      x-postman-collection: Premium Plan (User Collection)
  /current_vdasha_all:
    post:
      operationId: current_vdasha_all
      summary: current_vdasha_all
      tags:
      - Vedic Astrology
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                day:
                  type: string
                month:
                  type: string
                year:
                  type: string
                hour:
                  type: string
                min:
                  type: string
                lat:
                  type: string
                lon:
                  type: string
                tzone:
                  type: string
                ayanamsha:
                  type: string
                  description: 'other values : KP_OLD, KP_NEW,YUKTESHWAR,,RAMAN,JN_BHASIN,FAGAN_BRADLEY'
              required:
              - day
              - month
              - year
              - hour
              - min
              - lat
              - lon
              - tzone
              - ayanamsha
            example:
              day: '10'
              month: '5'
              year: '1990'
              hour: '19'
              min: '55'
              lat: '19.20'
              lon: '25.2'
              tzone: '5.5'
              ayanamsha: LAHIRI
      responses:
        '200':
          description: Computed result. The provider does not publish a response schema for this operation;
            see the endpoint reference for the returned fields.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication failed — missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: false
                msg: API authentication failed!
        '404':
          description: The requested API endpoint is not available.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                status: false
                statusCode: 404
                error_msg: The requested API endpoint is not available. Kindly check your api name/url
                  or HTTP method type.
      externalDocs:
        description: Vedic Astrology documentation
        url: https://astrologyapi.com/developers/v1/vedic
      x-postman-collection: Premium Plan (User Collection)
  /current_yogini_dasha:
    post:
      operationId: current_yogini_dasha
      summary: current_yogini_dasha
      tags:
      - Vedic Astrology
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                day:
                  type: string
                month:
                  type: string
                year:
                  type: string
                hour:
                  type: string
                min:
                  type: string
                lat:
                  type: string
                lon:
                  type: string
                tzone:
                  type: string
                ayanamsha:
                  type: string
                  description: 'other values : KP_OLD, KP_NEW,YUKTESHWAR,,RAMAN,JN_BHASIN,FAGAN_BRADLEY'
              required:
              - day
              - month
              - year
              - hour
              - min
              - lat
              - lon
              - tzone
              - ayanamsha
            example:
              day: '10'
              month: '5'
              year: '1990'
              hour: '19'
              min: '55'
              lat: '19.20'
              lon: '25.2'
              tzone: '5.5'
              ayanamsha: LAHIRI
      responses:
        '200':
          description: Computed result. The provider does not publish a response schema for this operation;
            see the endpoint reference for the returned fields.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication failed — missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: false
                msg: API authentication failed!
        '404':
          description: The requested API endpoint is not available.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                status: false
                statusCode: 404
                error_msg: The requested API endpoint is not available. Kindly check your api name/url
                  or HTTP method type.
      externalDocs:
        description: Vedic Astrology documentation
        url: https://astrologyapi.com/developers/v1/vedic
      x-postman-collection: Premium Plan (User Collection)
  /daily_nakshatra_prediction:
    post:
      operationId: daily_nakshatra_prediction
      summary: daily_nakshatra_prediction
      tags:
      - Vedic Astrology
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                day:
                  type: string
                month:
                  type: string
                year:
                  type: string
                hour:
                  type: string
                min:
                  type: string
                lat:
                  type: string
                lon:
                  type: string
                tzone:
                  type: string
              required:
              - day
              - month
              - year
              - hour
              - min
              - lat
              - lon
              - tzone
            example:
              day: '10'
              month: '5'
              year: '1990'
              hour: '19'
              min: '55'
              lat: '19.20'
              lon: '25.2'
              tzone: '5.5'
      responses:
        '200':
          description: Computed result. The provider does not publish a response schema for this operation;
            see the endpoint reference for the returned fields.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication failed — missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: false
                msg: API authentication failed!
        '404':
          description: The requested API endpoint is not available.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                status: false
                statusCode: 404
                error_msg: The requested API endpoint is not available. Kindly check your api name/url
                  or HTTP method type.
      externalDocs:
        description: Vedic Astrology documentation
        url: https://astrologyapi.com/developers/v1/vedic
      x-postman-collection: Premium Plan (User Collection)
  /daily_nakshatra_prediction/next:
    post:
      operationId: daily_nakshatra_prediction_next
      summary: daily_nakshatra_prediction next day
      tags:
      - Vedic Astrology
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                day:
                  type: string
                month:
                  type: string
                year:
                  type: string
                hour:
                  type: string
                min:
                  type: string
                lat:
                  type: string
                lon:
                  type: string
                tzone:
                  type: string
              required:
              - day
              - month
              - year
              - hour
              - min
              - lat
              - lon
              - tzone
            example:
              day: '10'
              month: '5'
              year: '1990'
              hour: '19'
              min: '55'
              lat: '19.20'
              lon: '25.2'
              tzone: '5.5'
      responses:
        '200':
          description: Computed result. The provider does not publish a response schema for this operation;
            see the endpoint reference for the returned fields.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication failed — missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: false
                msg: API authentication failed!
        '404':
          description: The requested API endpoint is not available.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                status: false
                statusCode: 404
                error_msg: The requested API endpoint is not available. Kindly check your api name/url
                  or HTTP method type.
      externalDocs:
        description: Vedic Astrology documentation
        url: https://astrologyapi.com/developers/v1/vedic
      x-postman-collection: Premium Plan (User Collection)
  /daily_nakshatra_prediction/previous:
    post:
      operationId: daily_nakshatra_prediction_previous
      summary: daily_nakshatra_prediction previous day
      tags:
      - Vedic Astrology
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                day:
                  type: string
                month:
                  type: string
                year:
                  type: string
                hour:
                  type: string
                min:
                  type: string
                lat:
                  type: string
                lon:
                  type: string
                tzone:
                  type: string
              required:
              - day
              - month
              - year
              - hour
              - min
              - lat
              - lon
              - tzone
            example:
              day: '10'
              month: '5'
              year: '1990'
              hour: '19'
              min: '55'
              lat: '19.20'
              lon: '25.2'
              tzone: '5.5'
      responses:
        '200':
          description: Computed result. The provider does not publish a response schema for this operation;
            see the endpoint reference for the returned fields.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication failed — missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: false
                msg: API authentication failed!
        '404':
          description: The requested API endpoint is not available.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                status: false
                statusCode: 404
                error_msg: The requested API endpoint is not available. Kindly check your api name/url
                  or HTTP method type.
      externalDocs:
        description: Vedic Astrology documentation
        url: https://astrologyapi.com/developers/v1/vedic
      x-postman-collection: Premium Plan (User Collection)
  /expression_number:
    post:
      operationId: expression_number
      summary: expression_number
      tags:
      - Western Astrology
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                day:
                  type: string
                month:
                  type: string
                year:
                  type: string
                full name:
                  type: string
              required:
              - day
              - month
              - year
              - full name
            example:
              day: '10'
              month: '5'
              year: '1992'
              full name: demo
      responses:
        '200':
          description: Computed result. The provider does not publish a response schema for this operation;
            see the endpoint reference for the returned fields.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication failed — missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: false
                msg: API authentication failed!
        '404':
          description: The requested API endpoint is not available.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                status: false
                statusCode: 404
                error_msg: The requested API endpoint is not available. Kindly check your api name/url
                  or HTTP method type.
      externalDocs:
        description: Western Astrology documentation
        url: https://www.astrologyapi.com/western-api-docs
      x-postman-collection: Business Plan (User Collection)
  /friendship_report/tropical:
    post:
      operationId: friendship_report_tropical
      summary: friendship_report/tropical
      tags:
      - Western Astrology
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                day:
                  type: string
                month:
                  type: string
                year:
                  type: string
                hour:
                  type: string
                min:
                  type: string
                lat:
                  type: string
                lon:
                  type: string
                tzone:
                  type: string
              required:
              - day
              - month
              - year
              - hour
              - min
              - lat
              - lon
              - tzone
            example:
              day: '10'
              month: '5'
              year: '1992'
              hour: '21'
              min: '30'
              lat: '19.20'
              lon: '25.2'
              tzone: '5.5'
      responses:
        '200':
          description: Computed result. The provider does not publish a response schema for this operation;
            see the endpoint reference for the returned fields.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication failed — missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: false
                msg: API authentication failed!
        '404':
          description: The requested API endpoint is not available.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                status: false
                statusCode: 404
                error_msg: The requested API endpoint is not available. Kindly check your api name/url
                  or HTTP method type.
      externalDocs:
        description: Western Astrology documentation
        url: https://www.astrologyapi.com/western-api-docs
      x-postman-collection: Business Plan (User Collection)
  /general_ascendant_report:
    post:
      operationId: general_ascendant_report
      summary: general ascendant report
      tags:
      - Vedic Astrology
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                day:
                  type: string
                month:
                  type: string
                year:
                  type: string
                hour:
                  type: string
                min:
                  type: string
                lat:
                  type: string
                lon:
                  type: string
                tzone:
                  type: string
                ayanamsha:
                  type: string
                  description: 'other values : KP_OLD, KP_NEW,YUKTESHWAR,,RAMAN,JN_BHASIN,FAGAN_BRADLEY'
              required:
              - day
              - month
              - year
              - hour
              - min
              - lat
              - lon
              - tzone
              - ayanamsha
            example:
              day: '10'
              month: '5'
              year: '1990'
              hour: '19'
              min: '55'
              lat: '19.20'
              lon: '25.2'
              tzone: '5.5'
              ayanamsha: LAHIRI
      responses:
        '200':
          description: Computed result. The provider does not publish a response schema for this operation;
            see the endpoint reference for the returned fields.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication failed — missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: false
                msg: API authentication failed!
        '404':
          description: The requested API endpoint is not available.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                status: false
                statusCode: 404
                error_msg: The requested API endpoint is not available. Kindly check your api name/url
                  or HTTP method type.
      externalDocs:
        description: Vedic Astrology documentation
        url: https://astrologyapi.com/developers/v1/vedic
      x-postman-collection: Premium Plan (User Collection)
  /general_ascendant_report/tropical:
    post:
      operationId: general_ascendant_report_tropical
      summary: general_ascendant_report/tropical
      tags:
      - Western Astrology
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                day:
                  type: string
                month:
                  type: string
                year:
                  type: string
                hour:
                  type: string
                min:
                  type: string
                lat:
                  type: string
                lon:
                  type: string
                tzone:
                  type: string
              required:
              - day
              - month
              - year
              - hour
              - min
              - lat
              - lon
              - tzone
            example:
              day: '10'
              month: '5'
              year: '1992'
              hour: '21'
              min: '30'
              lat: '19.20'
              lon: '25.2'
              tzone: '5.5'
      responses:
        '200':
          description: Computed result. The provider does not publish a response schema for this operation;
            see the endpoint reference for the returned fields.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication failed — missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: false
                msg: API authentication failed!
        '404':
          description: The requested API endpoint is not available.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                status: false
                statusCode: 404
                error_msg: The requested API endpoint is not available. Kindly check your api name/url
                  or HTTP method type.
      externalDocs:
        description: Western Astrology documentation
        url: https://www.astrologyapi.com/western-api-docs
      x-postman-collection: Business Plan (User Collection)
  /general_house_report/tropical/{planetName}:
    post:
      operationId: general_house_report_tropical_planetName
      summary: general_house_report
      tags:
      - Western Astrology
      parameters:
      - name: planetName
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                day:
                  type: string
                month:
                  type: string
                year:
                  type: string
                hour:
                  type: string
                min:
                  type: string
                lat:
                  type: string
                lon:
                  type: string
                tzone:
                  type: string
              required:
              - day
              - month
              - year
              - hour
              - min
              - lat
              - lon
              - tzone
            example:
              day: '10'
              month: '5'
              year: '1992'
              hour: '21'
              min: '30'
              lat: '19.20'
              lon: '25.2'
              tzone: '5.5'
      responses:
        '200':
          description: Computed result. The provider does not publish a response schema for this operation;
            see the endpoint reference for the returned fields.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication failed — missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: false
                msg: API authentication failed!
        '404':
          description: The requested API endpoint is not available.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                status: false
                statusCode: 404
                error_msg: The requested API endpoint is not available. Kindly check your api name/url
                  or HTTP method type.
      externalDocs:
        description: Western Astrology documentation
        url: https://www.astrologyapi.com/western-api-docs
      x-postman-collection: Business Plan (User Collection)
  /general_house_report/{planet_name}:
    post:
      operationId: general_house_report_planet_name
      summary: general_house_report/:planet_name
      tags:
      - Vedic Astrology
      parameters:
      - name: planet_name
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                day:
                  type: string
                month:
                  type: string
                year:
                  type: string
                hour:
                  type: string
                min:
                  type: string
                lat:
                  type: string
                lon:
                  type: string
                tzone:
                  type: string
                ayanamsha:
                  type: string
                  description: 'other values : KP_OLD, KP_NEW,YUKTESHWAR,,RAMAN,JN_BHASIN,FAGAN_BRADLEY'
              required:
              - day
              - month
              - year
              - hour
              - min
              - lat
              - lon
              - tzone
              - ayanamsha
            example:
              day: '10'
              month: '5'
              year: '1990'
              hour: '19'
              min: '55'
              lat: '19.20'
              lon: '25.2'
              tzone: '5.5'
              ayanamsha: LAHIRI
      responses:
        '200':
          description: Computed result. The provider does not publish a response schema for this operation;
            see the endpoint reference for the returned fields.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication failed — missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: false
                msg: API authentication failed!
        '404':
          description: The requested API endpoint is not available.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                status: false
                statusCode: 404
                error_msg: The requested API endpoint is not available. Kindly check your api name/url
                  or HTTP method type.
      externalDocs:
        description: Vedic Astrology documentation
        url: https://astrologyapi.com/developers/v1/vedic
      x-postman-collection: Premium Plan (User Collection)
  /general_nakshatra_report:
    post:
      operationId: general_nakshatra_report
      summary: general_nakshatra_report
      tags:
      - Vedic Astrology
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                day:
                  type: string
                month:
                  type: string
                year:
                  type: string
                hour:
                  type: string
                min:
                  type: string
                lat:
                  type: string
                lon:
                  type: string
                tzone:
                  type: string
                gender:
                  type: string
                ayanamsha:
                  type: string
                  description: 'other values : KP_OLD, KP_NEW,YUKTESHWAR,,RAMAN,JN_BHASIN,FAGAN_BRADLEY'
              required:
              - day
              - month
              - year
              - hour
              - min
              - lat
              - lon
              - tzone
              - gender
              - ayanamsha
            example:
              day: '10'
              month: '5'
              year: '1990'
              hour: '19'
              min: '55'
              lat: '19.20'
              lon: '25.2'
              tzone: '5.5'
              gender: female
              ayanamsha: LAHIRI
      responses:
        '200':
          description: Computed result. The provider does not publish a response schema for this operation;
            see the endpoint reference for the returned fields.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication failed — missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: false
                msg: API authentication failed!
        '404':
          description: The requested API endpoint is not available.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                status: false
                statusCode: 404
                error_msg: The requested API endpoint is not available. Kindly check your api name/url
                  or HTTP method type.
      externalDocs:
        description: Vedic Astrology documentation
        url: https://astrologyapi.com/developers/v1/vedic
      x-postman-collection: Premium Plan (User Collection)
  /general_rashi_report/{planet_name}:
    post:
      operationId: general_rashi_report_planet_name
      summary: general_rashi_report/:planet_name
      tags:
      - Vedic Astrology
      parameters:
      - name: planet_name
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                day:
                  type: string
                month:
                  type: string
                year:
                  type: string
                hour:
                  type: string
                min:
                  type: string
                lat:
                  type: string
                lon:
                  type: string
                tzone:
                  type: string
                ayanamsha:
                  type: string
                  description: 'other values : KP_OLD, KP_NEW,YUKTESHWAR,,RAMAN,JN_BHASIN,FAGAN_BRADLEY'
              required:
              - day
              - month
              - year
              - hour
              - min
              - lat
              - lon
              - tzone
              - ayanamsha
            example:
              day: '10'
              month: '5'
              year: '1990'
              hour: '19'
              min: '55'
              lat: '19.20'
              lon: '25.2'
              tzone: '5.5'
              ayanamsha: LAHIRI
      responses:
        '200':
          description: Computed result. The provider does not publish a response schema for this operation;
            see the endpoint reference for the returned fields.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication failed — missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: false
                msg: API authentication failed!
        '404':
          description: The requested API endpoint is not available.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                status: false
                statusCode: 404
                error_msg: The requested API endpoint is not available. Kindly check your api name/url
                  or HTTP method type.
      externalDocs:
        description: Vedic Astrology documentation
        url: https://astrologyapi.com/developers/v1/vedic
      x-postman-collection: Premium Plan (User Collection)
  /general_sign_report/tropical/{planetName}:
    post:
      operationId: general_sign_report_tropical_planetName
      summary: general_sign_report
      tags:
      - Western Astrology
      parameters:
      - name: planetName
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                day:
                  type: string
                month:
                  type: string
                year:
                  type: string
                hour:
                  type: string
                min:
                  type: string
                lat:
                  type: string
                lon:
                  type: string
                tzone:
                  type: string
              required:
              - day
              - month
              - year
              - hour
              - min
              - lat
              - lon
              - tzone
            example:
              day: '10'
              month: '5'
              year: '1992'
              hour: '21'
              min: '30'
              lat: '19.20'
              lon: '25.2'
              tzone: '5.5'
      responses:
        '200':
          description: Computed result. The provider does not publish a response schema for this operation;
            see the endpoint reference for the returned fields.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication failed — missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: false
                msg: API authentication failed!
        '404':
          description: The requested API endpoint is not available.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                status: false
                statusCode: 404
                error_msg: The requested API endpoint is not available. Kindly check your api name/url
                  or HTTP method type.
      externalDocs:
        description: Western Astrology documentation
        url: https://www.astrologyapi.com/western-api-docs
      x-postman-collection: Business Plan (User Collection)
  /geo_details:
    post:
      operationId: geo_details
      summary: geo details
      tags:
      - Vedic Astrology
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                place:
                  type: string
                maxRows:
                  type: string
              required:
              - place
              - maxRows
            example:
              place: mumbai
              maxRows: '6'
      responses:
        '200':
          description: Computed result. The provider does not publish a response schema for this operation;
            see the endpoint reference for the returned fields.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication failed — missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: false
                msg: API authentication failed!
        '404':
          description: The requested API endpoint is not available.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                status: false
                statusCode: 404
                error_msg: The requested API endpoint is not available. Kindly check your api name/url
                  or HTTP method type.
      externalDocs:
        description: Vedic Astrology documentation
        url: https://astrologyapi.com/developers/v1/vedic
      x-postman-collection: Premium Plan (User Collection)
  /ghat_chakra:
    post:
      operationId: ghat_chakra
      summary: ghat_chakra
      tags:
      - Vedic Astrology
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                day:
                  type: string
                month:
                  type: string
                year:
                  type: string
                hour:
                  type: string
                min:
                  type: string
                lat:
                  type: string
                lon:
                  type: string
                tzone:
                  type: string
                ayanamsha:
                  type: string
                  description: 'other values : KP_OLD, KP_NEW,YUKTESHWAR,,RAMAN,JN_BHASIN,FAGAN_BRADLEY'
              required:
              - day
              - month
              - year
              - hour
              - min
              - lat
              - lon
              - tzone
              - ayanamsha
            example:
              day: '10'
              month: '5'
              year: '1990'
              hour: '19'
              min: '55'
              lat: '19.20'
              lon: '25.2'
              tzone: '5.5'
              ayanamsha: LAHIRI
      responses:
        '200':
          description: Computed result. The provider does not publish a response schema for this operation;
            see the endpoint reference for the returned fields.
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication failed — missing or invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: false
                msg: API authentication failed!
        '404':
          description: The requested API endpoint is not available.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFound'
              example:
                status: false
                statusCode: 404
                error_msg: The requested API endpoint is not available. Kindly check your api name/url
[...]
